.clinicsListRoot {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;

  .logoContainer {
    background-color: #34344E;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 40%;
    }
  }

  .formContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    background-color: #E5E5E5;

    img {
      width: 40%;
      margin-bottom: 2rem;
    }

    .clinicsWrapper {
      display: flex;
      padding: 2rem;
      width: 60%;
      background-color: white;
      border-radius: 4px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .formTitle {
    margin-bottom: 1rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #34354C;
  }

  :global(.welcome-text) {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #A1A2C6;
    margin-bottom: .5rem;
  }

  :global(.footer) {
    margin-top: 1.5rem;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    :global(.back-button) {
      outline: none;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #3A83DC;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    :global(.positive-button) {
      flex: unset;
      min-width: 8rem;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}
