.inviteUserModal {
  .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    .input {
      margin-bottom: 10px;
    }
  }

  .errorMessage {
    margin: 1rem;
    color: #ec3276;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .7rem;
  }
}

.alertContainer {
  margin: 1em 0;
}
