.inviteUserModal {
  .content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);

    .input {
      margin-bottom: 10px;
    }
  }

  .errorMessage {
    color: #ec3276;
    font-size: .7rem;
    margin-top: 1rem;
  }
}
