.doctor-patients-root {
  width: 100%;
  height: 100%;
  display: flex;

  .filter-wrapper {
    display: flex;
    width: 20rem;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: flex-start;
    justify-content: center;
  }

  .data-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .loading-spinner {
      position: absolute;
      top: 50%;
      left: 60%;
      z-index: 10;
      color: #3A83DC;
    }
  }
}

.patients-filter {
  width: 20rem;
  display: flex;
  padding: 1rem;
  margin-left: 1rem;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
  border-radius: 4px;

  .custom-select {
    font-size: .7rem;
  }

  .form-group {
    width: 100%;
  }

  .form-label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .7rem;
    margin-bottom: 0;
  }

  .form-control {
    background-color: #FAFAFD;
  }

  .positive-button {
    margin-top: 1rem;
  }

  .rdrCalendarWrapper {
    max-width: 100%;

    .rdrMonth {
      max-width: 100%;
    }
  }
}

.patients-list-root {
  display: flex;
  flex: 1;
  margin: 1rem;
  height: 96%;
  overflow-y: scroll;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
  border-radius: 4px;
  padding: 1rem;
  position: relative;

  .day-off-label {
    color: #34344E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 600;
  }

  table {
    flex: 1;

    thead {
      tr {
        border-bottom: #DBEEFB 1px solid;

        td {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #3A83DC;
          margin-left: .5rem;
          border-right: #DBEEFB 1px solid;
          padding: .5rem;
        }

        td:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      tr {
        td {
          border-right: #DBEEFB 1px solid;
          padding-top: .5rem;
        }

        td:last-child {
          border-right: none;
        }
      }
    }
  }

  .schedule-item {
    padding: .3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: .3rem;
    margin-bottom: .5rem;

    .patient-name {
      text-align: start;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      color: #34344E;
    }

    .service-name {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      color: #34344E;
    }

    .time-label {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 20px;
      color: #34344E;
    }

    .details-button {
      outline: none;
      user-select: none;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: .5rem;
      cursor: pointer;

      &:hover {
        .button-text {
          text-decoration: underline;
        }
      }

      .button-text {
        color: #3A83DC;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}

.patient-item-root {
  margin: .5rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
  border-radius: 4px;

  &.on-site {
    border: #ec3276 1px solid;
  }

  .details-button {
    outline: none;
    user-select: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      .button-text {
        text-decoration: underline;
      }
    }

    .button-text {
      color: #3A83DC;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .item-header {
    background: #F4FAFE;
    display: flex;
    width: 100%;
    height: 3.5rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .patient-name {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #34354C;
      margin-left: .5rem;
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .item-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    width: 100%;
    padding: 1rem;

    .row-wrapper {
      margin-top: .5rem;
      margin-bottom: .5rem;
      display: flex;
      width: 100%;
    }

    .row-title {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      margin-right: .3rem;
      color: #34354C;
    }

    .row-value {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-size: 12px;
      line-height: 16px;
      color: #34354C;
    }
  }

  .no-data-placeholder {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

    .no-data-label {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #34354C;
    }
  }
}
