.doctorVisitsChart {
  max-width: unset !important;
  flex-grow: 1 !important;

  .visitsChart {
    flex-direction: column;
    overflow: hidden;
    display: flex;
    height: 100%;
    position: relative;
  }
}
