.appointmentNote {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  .editNoteBtn {
    outline: none;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    top: 50%;
  }

  .servicesContainer {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .visitServiceItem {
      background-color: #ededed;
      border-radius: 0.2rem;
      padding: 0.5rem;
      margin-right: 0.2rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #34354c;
    }
  }

  .dataWrapper {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
    border-radius: 4px;
    padding: 1rem;
  }

  .creatorInfo {
    display: flex;
    margin-bottom: 0.5rem;

    .doctorTitle {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #34354c;
      margin-right: 0.3rem;
    }

    .doctorName {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #34354c;
    }
  }

  .noteText {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #6f7091;
    max-width: 650px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .noteDate {
    font-family: Inter, sans-serif;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #a1a2c6;
  }
}
