.finalServiceRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ededed 1px solid;

  .removeBtn {
    outline: none;

    &.completed {
      pointer-events: none;
      cursor: not-allowed;
      svg {
        fill: #00ac00;
      }
    }

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
      cursor: not-allowed;

      svg {
        fill: #6F7091;
      }
    }

    svg {
      fill: #3A83DC;
    }
  }

  .serviceWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .serviceName {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #34354C;
    }

    .completedByLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #cccccd;
    }
  }

  .servicePrice {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #A1A2C6;
  }
}
