.services-root {
  width: 100%;
  user-select: none;

  &__header {
    padding-left: 1.5rem;
    padding-right: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .positive-button {
      flex: unset;
      padding: .4rem 1rem;
    }
  }

  &__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    color: #34354C;
  }

  &__services {
    max-height: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;

    &__skeleton {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: .7rem;

      .MuiSkeleton-root {
        border: 1px solid #F4FAFE;
        background-color: #FAFAFD;
        border-radius: 4px;
        width: 239px;
        height: 168px;
      }
    }
  }

  &__services-skeleton {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;

    &__skeleton {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: .7rem;

      .MuiSkeleton-root {
        border: 1px solid #F4FAFE;
        background-color: #FAFAFD;
        border-radius: 4px;
        width: 239px;
        height: 168px;
      }
    }
  }
}

.service-item {
  margin: .7rem;
  width: 239px;
  height: 168px;
  background: #FFFFFF;
  box-shadow: 0px -1px 1px -5px rgba(239, 242, 251, 0.8);
  border-radius: 4px;

  &__header {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #F4FAFE;
  }

  &__title {
    flex: 1;
    margin-left: .6rem !important;
    margin-right: .6rem !important;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px;
    color: #34354C;
  }

  &__color {
    height: .4rem;
    width: .4rem;
    margin-left: .45rem;
    border-radius: .2rem;
    background-color: red;
  }

  &__edit-btn {
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 1rem;

    .service-row {
      margin-top: .7rem;
      margin-bottom: .7rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      &__title {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: .8rem;
        line-height: 1rem;
        color: #34354C;
      }

      &__value {
        margin-left: .5rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: .8rem;
        line-height: 1rem;
        color: #34354C;
      }

      svg {
        fill: #CDCEEA;
        margin-right: .5rem;
      }
    }
  }
}
