.image-modal-root {
  .modal-dialog {
    width: fit-content;
    max-width: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: fit-content;
  }

  .modal-content {
    background-color: transparent;

    .image-loading-spinner {
      top: 50%;
      left: 50%;
      position: absolute;
      color: #3A83DC;
    }

    .modal-body {
      img {
        width: 100%;
        box-shadow: 0 1px 10px 10px #34344E1A;
      }
    }
  }
}
