.scheduleConfirmationRoot {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;

  svg {
    fill: #00ac00;
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
  }

  .no-data-label {
    text-align: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .logo-image {
    width: 130px;
    height: auto;
    margin-bottom: 2rem;
  }

  .footer {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    .label {
      display: flex !important;
      align-items: center !important;
      font-family: Inter, sans-serif !important;
      font-style: normal !important;
      font-weight: 600 !important;
      font-size: 12px !important;

      svg {
        width: 63px;
        margin-bottom: 0;
        margin-left: .2rem;
      }
    }
  }

  .covidNoticeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 16px;
    width: 100%;
  }

  .covidNoticeTitle {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 16px !important;
    color: #ec3276 !important;
    margin-bottom: 10px;
    text-align: center;
  }

  .covidNotice {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    color: #34354C !important;
    text-align: center !important;
  }

  .tableContainer {
    margin-bottom: 1rem;

    .titleLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
    }

    .dataLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
    }

    table > tbody > tr > td {
      border-bottom: none;
      padding-top: .4rem;
      padding-bottom: .4rem;
    }
  }

  :global(.positive-button) {
    height: 34px;
    flex: unset;

    &:first-child {
      margin-right: 5px;
    }

    &.confirmed {
      pointer-events: none;
      background-color: #00ac00 !important;
    }
  }
}
