.textareaRoot {
  width: 100%;

  .fieldRoot {
    width: 100%;

    &:hover {
      .focusedInput {
        border-color: #3A83DC !important;
      }
    }

    .multilineRoot {
      padding: 11px;
    }

    .focusedField {
      .focusedInput {
        border-color: #3A83DC !important;
      }
    }
  }

  .textInput {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 13px !important;
    color: #34354C !important;
    overflow: auto;

    .multilineInput {
      overflow-y: auto !important;
    }
  }

  .formLabel {
    user-select: none;
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 10px !important;
    color: #6F7091 !important;

    &.focused {
      color: #3A83DC !important;
    }
  }
}
