.calendarRoot {
  outline: none;
  padding: 0 8px 8px;
  display: flex;
  height: 100%;
  overflow-y: scroll;
  position: relative;

  .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .leftContainer {
    width: 15%;
    height: 100%;
  }

  .rightContainer {
    width: 18%;
    height: 100%;
  }

  .centerContainer {
    height: 100%;
    width: 100%;

    .parsingProgressWrapper {
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
      background-color: transparent;
    }
  }

  .account {
    width: 29%;
    max-height: 100%;
  }

  .details {
    width: 46%;
    max-height: 100%;
  }
}
