.facebookIntegration {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: #ededed 1px solid;

  .rowTitle {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-size: .9rem !important;
    font-weight: bold !important;
  }

  .titleLabel {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-size: .8rem !important;
  }

  .connectContainer {
    width: fit-content;
    height: 30px;
  }

  .connectBtn {
    background-color: #4c69ba;
    color: white;
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: .8rem !important;

    &:hover {
      background-color: #4c69ba;
    }
  }

  :global(.kep-login-facebook) {
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: .7rem;
    padding: 5px !important;
  }
}
