.create-patient-modal {
  .modalPaper {
    overflow: visible !important;
  }
  .modal-content {

    .modal-body {
      overflow: visible;
    }
  }

  .formContainer {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  .simpleField {
    margin-bottom: 5px;
  }

  .nameField {
    width: 50%;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  .first-and-last-name {
    display: flex;
    margin-bottom: 5px;
  }

  .form-control[readonly] {
    background-color: #FAFAFD;
  }

  .form-group {
    margin-bottom: 0;
    margin-top: .5rem;
  }

  .form-label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .7rem;
    margin-bottom: 0;
  }

  .form-control {
    width: 100%;
    background-color: #FAFAFD;
  }

  .input-group {
    textarea {
      height: 5rem !important;
    }
  }
}
