.exchangeRate {
  width: calc(100% - 1rem);
  min-height: 35px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 1px 10px 10px #34344E1A;

  .titleLabel {
    width: calc(100% - 16px);
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    color: #34354C;
    font-weight: bold;
    font-size: 13px !important;
    padding: 8px;
  }

  :global(.progress-bar-wrapper) {
    top: 60%;
  }

  .editButton {
    width: 100%;
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    color: #3A83DC;
    font-size: 12px !important;
  }

  .tableContainer {
    overflow: hidden;
    width: 100%;

    .table {
      table-layout: fixed;
      width: 100%;

      .tableBody, .tableHead {
        width: 100%;

        .tableRow {
          width: 100%;

          .tableCell {
            width: 33.3%;
            padding: 4px 7px;

            :last-child {
              border-right: none;
            }

            .label {
              font-family: Inter, sans-serif !important;
              font-style: normal !important;
              color: #34354C;
              font-size: 12px !important;
            }

            .valueLabel {
              color: #3A83DC !important;
              font-weight: bold !important;
            }
          }
        }
      }
    }
  }
}
