.headerRoot {
  width: 100%;
  height: 1.8rem;
  display: flex;
  padding-left: 2.6rem;
  align-items: center;
  z-index: 200;
  overflow: hidden;
  box-shadow: 0 .05rem .1rem 0 rgba(173,173,173,.5);

  .headerItem {
    outline: none;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-left: .3rem;
    padding-right: .3rem;
    cursor: pointer;
    color: #34344E;

    &.disabled {
      background-color: #EDFDF4;
      cursor: not-allowed;

      svg {
        width: 20px;
        height: 20px;
      }

      .doctor-name {
        color: #6F7091;
        pointer-events: none;
        font-size: 12px;
      }

      .itemName {
        color: #7DD7C8 !important;
        font-weight: bold;
        margin-left: 10px;
      }
    }

    &:hover {
      color: #3A83DC;
    }

    .itemName {
      user-select: none;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px !important;
      color: inherit;
    }
  }
}
