@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.scheduleItem {
  outline: none;
  height: fit-content;
  cursor: pointer;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 1.875rem;
  padding: .2rem;
  background-color: #f3f3f3;
  border-radius: 3px;
  margin-bottom: .5rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);

  &:last-child {
    margin-bottom: 0;
  }

  &.upcoming {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
  }

  &.urgent {
    box-shadow: 0 0 7px 1px #ec3276;
  }

  .pause {
    text-align: center !important;
    color: white !important;
  }

  .patientNameLabel {
    width: 100%;
    text-align: center;
    color: #34344E;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
  }

  .statusIndicator {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    margin-bottom: .2rem;
  }

  .timeLabel {
    width: 100%;
    color: #34344E;
    text-align: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1;
    margin-top: .2rem;
  }

  .info {
    padding-top: .3rem;
    padding-bottom: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .infoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      overflow: hidden;
      padding-left: .5rem;
      padding-right: .5rem;
      height: 60px;

      .infoRow {
        width: 100%;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        height: 20px;
        min-height: 20px;

        .infoTitle {
          height: 100%;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          margin-right: .3rem;
          width: 60px;
        }

        .infoLabel {
          height: 100%;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
        }
      }
    }

    .pauseWrapper {
      flex: 1;
      align-items: center;
      justify-content: center;
      padding-left: .3rem;
      padding-right: .3rem;

      .commentLabel {
        margin-top: 1rem;
        color: white;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        width: 100%;
        text-align: center;
      }

      .pauseLabel {
        width: 100%;
        text-align: center;
        color: white;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
      }
    }
  }
}
