.clinicAnalytics {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .chartsFab {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #3A83DC !important;
    z-index: 9999;

    svg {
      fill: white !important;
    }
  }

  .dataContainer {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    .gridContainer {
      padding: 4px;
      width: 100%;
      grid-auto-rows: 1fr !important;
      margin: 0;

      :global(.buttonContainer) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;

        svg {
          fill: #3A83DC;
          width: 18px;
          height: 18px;
        }
      }

      :global(.chartTitle) {
        font-family: Inter, sans-serif !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 18px !important;
        color: #34354C !important;
        margin-bottom: 10px;
      }

      :global(.chartItem) {
        width: 100%;
        height: 100%;
        padding: 16px;
        position: relative;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 5px 24px 0 rgba(214,214,214,1);
      }
    }
  }

  .filterField {
    width: 100% !important;
    margin-right: 10px !important;
  }
}
