.doctorPatientRoot {
  height: 100%;
  width: 100%;
  display: flex;

  .leftContainer {
    padding: 8px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .printableWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      :global(.positive-button) {
        margin: 0;
        width: 56%;
      }

      :global(.form-label) {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        margin-bottom: 0;
      }

      .guideNameField {
        width: 56%;
        margin-bottom: .2rem !important;
      }
    }

    .treatmentPlanWrapper {
      width: 100%;
      height: 87%;
    }

    .patientInfo {
      width: 100%;
      background: #FFFFFF;
      height: 13%;
      box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
      border-radius: 4px;
      padding-top: 1rem;
      padding-right: 1rem;
      padding-left: 1rem;
      display: flex;
      align-items: center;

      .patientName {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #34354C;
      }

      .personalDataContainer {
        margin-left: .5rem;
        display: flex;
        flex-direction: column;
      }

      .patientInfoRow {
        display: flex;

        .patientInfoTitle {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          color: #34354C;
        }

        .patientInfoValue {
          margin-left: .5rem;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-size: 11px;
          color: #34354C;
        }
      }

      svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .rightContainer {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;

    :global(.title-label) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: #34354C;
    }

    :global(.no-data-label) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #34354C;
    }

    :global(.positive-button) {
      margin-bottom: 0;
      flex: unset;
    }
  }

  :global(.positive-button) {
    margin-bottom: 1rem;
    &.treatment-plan-btn {
      flex: unset;
      width: 16rem;
    }
  }
}

.progressBar {
  margin-bottom: 10px;
}

.loadingLabel {
  font-family: Inter, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 15px !important;
}

