.doctorPatientRoot {
  height: 100%;
  width: 100%;
  display: flex;

  .leftContainer {
    padding: 8px;
    width: calc(50% - 16px);
    height: calc(100% - 16px);
    display: flex;
    flex-direction: column;

    .printableWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      :global(.positive-button) {
        margin: 0;
        width: 56%;
      }

      :global(.form-label) {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        margin-bottom: 0;
      }

      .guideNameField {
        width: 56%;
        margin-bottom: .2rem !important;
      }
    }
  }

  .rightContainer {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: calc(50% - 16px);
    height: calc(100% - 16px);

    :global(.title-label) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: #34354C;
    }

    :global(.no-data-label) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #34354C;
    }

    :global(.positive-button) {
      margin-bottom: 0;
      flex: unset;
    }
  }

  :global(.positive-button) {
    margin-bottom: 1rem;
    &.treatment-plan-btn {
      flex: unset;
      width: 16rem;
    }
  }

  .patientInfo {
    width: calc(100% - 2rem);
    min-height: 90px;
    max-height: 90px;
    background: #FFFFFF;
    box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    align-items: center;

    .patientName {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #34354C;
    }

    .personalDataContainer {
      margin-left: .5rem;
      display: flex;
      flex-direction: column;
    }

    .patientInfoRow {
      display: flex;

      .patientInfoTitle {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        color: #34354C;
      }

      .patientInfoValue {
        margin-left: .5rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: 11px;
        color: #34354C;
      }
    }

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

.progressBar {
  margin-bottom: 10px;
}

.loadingLabel {
  font-family: Inter, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 15px !important;
}

