.doctor-patient-root {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;

  .left-container {
    padding: 1rem 1rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .services-container {
      box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
      margin-top: 1rem;
      user-select: none;
      min-height: 385px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100% - 24rem);
      position: relative;

      .services-results-menu {
        max-height: 300px !important;
      }

      .input-wrapper {
        border-bottom: #34344E1A 1px solid;
        padding: 1rem 1rem .5rem;

        :global(.form-group) {
          height: 33px;
          margin-bottom: 0;

          :global(.dropdown-menu) {
            padding: .1rem 0;
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
          }
        }
      }

      .selected-services-wrapper {
        flex: 1;
        overflow-y: scroll;
        padding: 1rem;
      }

      .selected-services-footer {
        width: 100%;
        height: 50px;
        border-top: #34344E1A 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;

        :global(.positive-button) {
          flex: unset;
          margin-bottom: 0;
        }
      }

      .total-title, :global(.no-data-label) {
        margin-bottom: 1rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #A1A2C6;
      }

      .available-services {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding-right: 1rem;

        .available-services-paper {
          box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
          padding: 1rem;
          display: flex;
          height: 100%;
          width: 100%;
          overflow-y: scroll;
          flex-direction: column;
          align-items: flex-start;

          :global(.form-group) {
            margin-bottom: .5rem;
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #34354C;

            :global(.form-check) {
              align-items: center;
              display: flex;
            }

            :global(.form-check-input) {
              margin-top: 0;
              color: transparent;
            }
          }
        }
      }

      .services-total {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;

        .offered-services-paper {
          overflow-y: scroll;
          padding-top: 1rem;
          padding-bottom: 1rem;

          .offered-services-table {

          }
        }

        :global(.no-data-label) {
          width: 100%;
          text-align: center;
          margin-top: 1rem;
          font-weight: normal;
          font-size: .8rem;
        }

        .total-price {
          width: 100%;
          text-align: end;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #34354C;
        }

        :global(.positive-button) {
          margin-top: 2rem;
          height: 2rem;
          flex: unset;
        }
      }
    }

    .printableWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      :global(.positive-button) {
        margin: 0;
        width: 56%;
      }

      :global(.form-label) {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        margin-bottom: 0;
      }

      .guideNameField {
        width: 56%;
        margin-bottom: .2rem !important;
        padding: 0;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  .right-container {
    width: 50%;
    height: 100%;
    min-height: 745px;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    :global(.title-label) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: #34354C;
    }

    :global(.no-data-label) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #34354C;
    }

    :global(.positive-button) {
      margin-bottom: 0;
      flex: unset;
    }
  }

  :global(.positive-button) {
    margin-bottom: 1rem;
    &.treatment-plan-btn {
      flex: unset;
      width: 16rem;
    }
  }

  .patient-info {
    width: 100%;
    height: 6rem;
    background: #FFFFFF;
    box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    align-items: center;

    .patient-name {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #34354C;
    }

    .personal-data-container {
      margin-left: .5rem;
      display: flex;
      flex-direction: column;
    }

    .patient-info-row {
      display: flex;

      .patient-info-title {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        color: #34354C;
      }

      .patient-info-value {
        margin-left: .5rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: 11px;
        color: #34354C;
      }
    }

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

