.patient-details-root {
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
  border-radius: .3rem;

  &__header {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    flex: 1;

    .btn-outline-primary {
      flex-grow: 1;

      &:hover {
        svg {
          fill: white !important;
        }
      }

      svg {
        fill: #3A83DC;
        margin-left: .5rem;
      }
    }
  }
}

.patient-appointments {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;

  &__appointments-data {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    padding: 1.5rem;
    min-height: 10rem;
    position: relative;

    .loading-spinner {
      position: absolute;
      top: 45%;
      left: 45%;
    }
  }

  &__actions {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px -20px 40px -5px rgba(239, 242, 251, 0.8);
  }

  &__item {
    margin-bottom: 1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 -1px 90px -5px rgba(239, 242, 251, 0.8);
    border-radius: .1rem;

    .appointment-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 50%;

      .appointment-info-row {
        display: flex;
        margin-bottom: .15rem;
        margin-top: .15rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: .8rem;
        color: #34354C;
      }

      .appointment-info-title {
        font-weight: 600;
        margin-right: .5rem;
      }
    }

    .appointment-time {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 50%;

      .appointment-time-row {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: .15rem;
        margin-top: .15rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: .8rem;
        color: #34354C;
      }

      .appointment-time-text {
        margin-top: .1rem;
        margin-left: .5rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8rem;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #34354C;
      }
    }
  }
}

.patient-notes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__notes-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 1.5rem;
    min-height: 10rem;
    position: relative;

    .loading-spinner {
      position: absolute;
      top: 45%;
      left: 45%;
    }
  }

  &__actions {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px -20px 40px -5px rgba(239, 242, 251, 0.8);
  }

  &__item {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    &__creator-info {
      display: flex;

      &__doctor-title {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #34354C;
        margin-right: .3rem;
      }

      &__doctor-name {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #34354C;
      }
    }

    &__note-date {
      font-family: Inter, sans-serif;
      margin-bottom: .5rem;
      margin-left: 1rem;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #A1A2C6;
    }

    &__note-data-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__note-text {
      background: #FFFFFF;
      box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
      border-radius: 4px;
      padding: 1rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #6F7091;
    }
  }
}

.appointment-note {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  .edit-note-btn {
    outline: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    cursor: pointer;
  }

  .services-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .visit-service-item {
      background-color: #ededed;
      border-radius: .2rem;
      padding: .5rem;
      margin-right: .2rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #34354C;
    }
  }

  &__data-wrapper {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
    border-radius: 4px;
    padding: 1rem;
  }

  &__creator-info {
    display: flex;
    margin-bottom: .5rem;

    &__doctor-title {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #34354C;
      margin-right: .3rem;
    }

    &__doctor-name {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #34354C;
    }
  }

  &__note-text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #6F7091;
  }

  &__note-date {
    font-family: Inter, sans-serif;
    margin-bottom: .5rem;
    margin-left: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #A1A2C6;
  }
}

.patient-treatment-plans {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: .5rem 2rem;
  min-height: 10rem;
  position: relative;

  .tabs-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .no-data-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #34354C;
  }

  .loading-spinner {
    position: absolute;
    top: 45%;
    left: 45%;
    color: #3A83DC;
  }

  .options-row {
    display: flex;
    align-items: flex-start;
  }

  .group-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #34354C;
  }

  .group-subtitle {
    width: 70px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #34354C;
  }

  .options-container {
    flex: 1;
    margin: .5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .custom-select {
      flex: 1;
      font-size: 12px;
    }

    .separator {
      width: 1px;
      background-color: #ededed;
      height: 2rem;
      margin-right: .5rem;
    }
  }

  .option-text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #34354C;
  }

  .option-button {
    user-select: none;
    cursor: pointer;
    margin: .2rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid #CDCEEA;
    border-radius: 4px;

    &.selected {
      border: 1px solid #3A83DC;
      background: #3A83DC1A;
    }
  }
}

.patient-x-ray {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .images-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    overflow-y: scroll;
    min-height: 10rem;

    .loading-spinner {
      position: absolute;
      top: 30%;
      left: 45%;
    }

    .phase {
      margin-bottom: 1.5rem;
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
      border-radius: .3rem;
      position: relative;

      &.expanded {
        .phase-header {
          .expand-button {
            svg {
              transform: rotate(90deg);
            }
          }
        }

        .phase-images {
          padding: 1rem;
        }
      }

      .phase-header {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #34354C;

        .expand-button {
          outline: none;
          cursor: pointer;

          svg {
            transition: transform 200ms ease-in-out;
            transform: rotate(0deg);
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      .phase-images {
        overflow: hidden;
        width: 100%;
        padding: 0;
        height: 0;
        transition: height 200ms ease-in-out, padding 200ms ease-in-out;
        position: relative;

        img {
          border: #ededed 1px solid;
          border-radius: .3rem;
          overflow: hidden;
          cursor: pointer;
          margin: .2rem;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__actions {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px -20px 40px -5px rgba(239, 242, 251, 0.8);
  }
}
