.userDetailsRoot {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    margin-bottom: 13.5rem;
    padding-bottom: 2rem;
    position: relative;
  }

  .footer {
    width: calc(100% - 2rem);
    position: absolute;
    display: flex;
    bottom: 0;
    padding: 2rem 1rem;
    background-color: white;
    box-shadow: 0px -20px 40px -5px rgba(239, 242, 251, 0.8);

    :global(.cancel-button) {
      margin-right: .5rem;
    }

    :global(.delete-button) {
      margin-right: .5rem;
    }
  }
}
