.userDetailsRoot {
  display: flex;
  flex-direction: column;
  height: calc(100% - 8rem);

  .content {
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
    position: relative;
  }

  .footer {
    width: 100%;
    display: flex;
    z-index: 2;
    padding: 1rem;
    background-color: white;

    :global(.cancel-button) {
      margin-right: .5rem;
    }

    :global(.delete-button) {
      margin-right: .5rem;
    }
  }
}
