.appointment-details-root {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 1rem;
  top: 52.3%;
  height: 91%;
  transform: translateY(-50%);
  border-radius: .3rem;
  width: 30rem;
  background-color: white;
  box-shadow: 0 1px 10px 10px #34344E1A;
  z-index: 2000;

  &.urgent {
    border: #ec3276 1px solid;
  }

  .statuses-popper-root {
    width: calc(100% - 2rem);
    z-index: 1000 !important;

    &__paper {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #FFFFFF;
      border: #3A83DC 1px solid;
      border-radius: 4px;
      max-height: 25rem;
      overflow-y: scroll;
      box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
    }

    &__item {
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: .8rem;
      padding: .5rem;

      .name-and-icon {
        display: flex;
        flex: 1;
        align-items: center;
      }

      .checkmark-wrapper {
        display: flex;
        align-items: center;
      }

      svg {
        width: 1.3rem;
        height: 1.3rem;
        margin-right: .6rem;
        fill: #3A83DC !important;

        path {
          fill: #3A83DC;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .header-wrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-top: -.2rem;
    border-bottom: #ededed 1px solid;

    .close-button {
      outline: none;
      cursor: pointer;
    }

    .schedule-title {
      margin-top: .2rem;
      margin-left: 1rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 32px;
      color: #34344E;
    }
  }

  .content-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1;
    position: relative;
    overflow-y: scroll;

    .spinner {
      color: #3A83DC;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .group-title {
      margin-top: 1rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
      color: #34344E;
    }

    .info-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .schedule-status {
      user-select: none;
      outline: none;
      border-radius: .3rem;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
      padding: .2rem 1rem;

      svg {
        margin-left: .5rem;
      }
    }

    .schedule-info-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .debts-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;

      .pay-btn-spinner {
        width: 1.5rem;
        height: 1.5rem;
        color: #3A83DC;
      }

      .no-debts-label {
        margin-top: 1rem;
        margin-left: 1rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 32px;
        color: #34344E;
      }

      .group-title {
        margin-top: 2rem;
        margin-bottom: 0;
      }

      table {
        thead {
          tr {
            td {
              padding-right: 1rem;
              font-family: Inter, sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 32px;
              color: #34344E;
            }
          }
        }
        tbody {
          tr {
            td {
              padding-right: 1rem;
              font-family: Inter, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 32px;
              color: #34344E;
            }
          }
        }
      }
    }

    .patient-name {
      outline: none;
      cursor: pointer;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: #3A83DC;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-wrapper {
    width: 100%;
    padding: 1rem;
    display: flex;

    .delete-button {
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }
}
