.patientsFilter {
  width: 160px;
  display: flex;
  padding: 1rem;
  margin-left: 8px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
  border-radius: 4px;

  .simpleField {
    margin-bottom: 5px;
    width: 100%;
  }

  .tabsLabel {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 10px !important;
    color: currentColor !important;
  }

  .tabRoot {
    background-color: white !important;
    color: #3A83DC !important;
    width: 50%;
    border-color: #3A83DC;
    padding: 8px;
  }

  .tabSelected {
    background-color: #3A83DC !important;
    color: white !important;
  }

  :global(.custom-select) {
    font-size: .7rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  :global(.form-group) {
    width: 100%;
  }

  :global(.form-label) {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .7rem;
    margin-bottom: 0;
  }

  :global(.form-control) {
    background-color: #FAFAFD;
  }

  :global(.positive-button) {
    margin-top: 1rem;
  }

  :global(.rdrCalendarWrapper) {
    max-width: 100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px;

    :global(.rdrMonth) {
      max-width: 100%;
    }
  }
}
