.accordionDetails {
  display: block !important;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  overflow-y: auto;
}

.cardHeading {
  font-size: 1.3rem !important;
}

.cardDescription {
  font-size: 0.9rem !important;
}

.cardImage {
  width: 100%;
}
