.container {
  width: 100%;
  max-width: 35em;
  background-color: #fff;
  padding: 1em 3em;
  border-radius: .3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-height: calc(100vh - 5rem);

  .closeBtn {
    position: absolute !important;
    right: 2em !important;
    top: 1em !important;
  }
}



.container > *:not(:last-child) {
  margin-bottom: .5em;
}

.container input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.flexContainer {
  display: flex;
  align-items: flex-end;
}

.flexContainer .input {
  justify-self: flex-end;
  width: min-content;
  min-width: 4em;
}

.flexContainer > *:not(:last-child) {
  margin-right: 1em;
}

.flexContainer > :last-child {
  margin-left: auto;
  width: min-content;
  min-width: 4em;
  justify-self: flex-end;
}