.dealItem {
  width: 100%;
  padding: 8px;
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  background-color: white;
  border: #cccccc 1px solid;
  border-radius: 4px;
  position: relative;
}
