.dealItem {
  width: 100%;
  padding: 8px;
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  border: #cccccc 1px solid;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background-color: white;

  .backgroundHolder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:hover {
    opacity: 0.8;
  }
}
