.companyDetailsForm {
  background: #FFFFFF;
  box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  padding-top: 70px;
  overflow-y: auto;

  .simpleField {
    width: 100%;
    margin-bottom: 5px;
  }

  .formTitle {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #34354C;
    margin-bottom: 1rem;
  }

  .messengerIcon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  .dataWrapper {
    width: 100%;
    display: flex;
    margin-top: 30px;

    .left {
      width: 49%;
      margin-right: 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .right {
      user-select: none;
      width: 49%;
      display: flex;
      margin-left: 1.2rem;
      flex-direction: column;
      align-items: flex-start;

      .descriptionTextArea {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }

  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;

    .saveButton {
      width: 23.5%;
      background-color: #3A83DC;
      color: white !important;

      &:hover {
        background-color: #3A83DC;
      }

      svg {
        margin-bottom: 3px;
        margin-left: 5px;
        width: 20px;
        height: 20px;
      }
    }

    .deleteButton {
      width: 23.5%;
      background-color: #ec3276 !important;
      color: white !important;
      margin-right: 5px;

      svg {
        margin-bottom: 5px;
        margin-left: 5px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
