.left-side-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  overflow: hidden;

  &.hide {
    width: 0;
    height: 0;
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(52, 53, 76, 0.25);

    &.show {
      opacity: 1;
      transition: opacity .2s ease-out;
    }

    &.hide {
      opacity: 0;
      transition: opacity .2s ease-in;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45%;
    background-color: #FAFAFD;
    display: flex;
    flex-direction: column;

    &.show {
      right: 0;
      transition: right .2s ease-out;
    }

    &.hide {
      right: -38%;
      transition: right .2s ease-in;
    }
  }

  &__header {
    width: 100%;
    padding: .5rem;
    background-color: #FFFFFF;

    &__close-container {
      display: flex;
      width: 100%;
      align-items: flex-end;
      justify-content: flex-end;

      .close-btn {
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

      }
    }

    &__title {
      margin-left: 1.3rem;
      margin-top: -.8rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 48px;
    }

    &__breadcrumb-container {
      margin: .5rem 1.2rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      svg {
        margin-left: .5rem;
        margin-right: .5rem;
      }
    }

    &__breadcrumb {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #A1A2C6;

      &.current {
        color: #34354C;
      }
    }
  }
}
