.columnsWrapperRoot {
  width: calc(100% - 2.8rem);
  height: fit-content;
  display: flex;
  overflow-x: hidden;

  .columnRoot {
    flex: 1;
    height: fit-content;
    border-right: #DBEEFB 1px solid;
    position: relative;

    &:last-child {
      border-right: none;
    }

    .columnCell {
      width: 100%;
      height: 1.875rem;
      position: relative;

      .createScheduleView {
        outline: none;
        padding-left: .5rem;
        padding-right: .5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3A83DC;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.disabled {
          background-color: #ced4da;
        }

        .hourText {
          color: white;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
        }
      }
    }
  }
}
