.columnsWrapperRoot {
  width: calc(100% - 2.8rem);
  height: fit-content;
  display: flex;
  position: relative;

  .columnRoot {
    flex: 1;
    height: fit-content;
    border-right: #dbeefb 1px solid;
    position: relative;

    .disabledWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute !important;
      z-index: 101;
      top: 100px;
      left: 50%;
      max-width: 90%;
      transform: translateX(-50%);

      svg {
        width: 60px;
        height: 60px;
      }

      .disabledLabel {
        margin-top: 10px;
        font-family: Inter, sans-serif !important;
        font-style: normal !important;
        font-weight: normal !important;
        color: #7dd7c8 !important;
        text-align: center !important;
        font-size: 13px !important;
      }
    }

    &.disabled {
      background-color: #edfdf4;
      cursor: not-allowed;
      height: inherit;
    }

    &.isDraggedOver {
      background-color: hsl(96, 80%, 96%);
    }

    &:last-child {
      border-right: none;
    }

    .columnCell {
      width: 100%;
      height: 1.875rem;
      position: relative;
      transition: all 0.2s;

      &.columnCellHovered {
        background-color: hsl(96, 80%, 90%);
        transform: scale(1.05);
      }

      &.disabled {
        background-color: #edfdf4;
        pointer-events: none;
        cursor: not-allowed;
      }

      .createScheduleView {
        outline: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3a83dc;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hourText {
          color: white;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
        }
      }
    }
  }
}
