.generalPage {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;

  .logoContainer {
    background-color: #34344E;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 40%;
    }
  }

  .formContainer {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E5E5;
    position: relative;

    img {
      width: 40%;
      margin-bottom: 2rem;
    }
  }

  .formTitle {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 32px !important;
    line-height: 35px !important;
    color: #34354C !important;
  }

  .welcomeText {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #A1A2C6 !important;
    margin-bottom: .5rem !important;
  }

  :global(.form-label) {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .7rem;
    margin-bottom: 0;
  }

  :global(.form-control) {
    background-color: #FAFAFD;
  }

  .formRoot {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    background: #FFFFFF;
    border-radius: 4px;
  }

  .footer {
    width: 100%;
    align-items: flex-end;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: relative;

    &.is-new {
      position: absolute !important;
      bottom: 1rem;
      align-items: center;
      justify-content: center;
      left: 0;
    }

    :global(.positive-button) {
      flex: unset;
      min-width: 8rem;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    .passwordField {
      margin-bottom: 10px;
    }
  }
}
