.register-form {
  position: relative;
  overflow-y: auto;

  :global(.form-title) {
    margin-bottom: 1rem;
  }

  :global(.footer) {
    margin-top: 1.5rem;
  }

  .textField {
    margin-bottom: 5px;
  }

  .visibilityToggleBtn {
    height: 100%;
    display: flex;
    align-items: center;

    svg {
      height: 20px;
      width: 20px;
      margin-left: 0;
      fill: #3A83DC;
    }
  }
}
