.setup-excel-modal {
  .modal-content {
    overflow: hidden;

    .modal-header {
      .close-modal-btn {
        width: 1.3rem;
        height: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;

        &:hover {
          background-color: #0000001a;
        }
      }
    }

    .modal-body {
      padding: 0 !important;
      position: relative;
      height: 40rem;
      overflow-x: scroll;
      overflow-y: hidden;

      .progress-bar-root {
        color: #3A83DC;
        position: absolute;
        top: 50%;
        left: 50%;
      }

      .table-container {
        overflow-y: scroll;
        height: 100%;
        flex: 1;

        .form-control[readonly] {
          background-color: #FAFAFD;
        }

        .form-group {
          margin-bottom: 0;
        }

        .form-label {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: .7rem;
          margin-bottom: 0;
        }

        .form-control {
          width: 100%;
          background-color: #FAFAFD;
        }

        .input-group {
          textarea {
            height: 5rem !important;
          }
        }

        .custom-select {
          height: 1.9rem;
          font-size: .8rem;
          text-align: center;
        }

        table > thead > tr > td {
          position: sticky;
          top: 0;
          background-color: #ededed;
          align-items: center;
          padding: .5rem;
        }

        table > tbody > tr > td {
          padding: .5rem;
          border: #ededed 1px solid;
          min-width: 12rem;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1rem;
          color: #34354C;
        }
      }
    }

    .modal-footer {
      display: flex;
      align-items: center !important;
      justify-content: flex-end !important;
      border-top: #ededed 1px solid !important;

      .positive-button {
        flex: unset;
      }

      .cancel-button {
        flex: unset;
      }
    }
  }
}
