.add-pause-root {
  .modalPaper {
    width: 400px;
    min-height: 300px;
    overflow: visible;

    .simpleField {
      margin-bottom: 5px;
      width: 100%;
    }

    .timePickerContainer {
      display: flex;
      width: 100%;
      margin-bottom: 5px;

      .timeSelect {
        width: 50%;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .inputGroup {
      width: 100%;

      .formGroup {
        flex: 1;

        &:first-child {
          margin-right: 5px;
        }
      }
    }
    :global(.input-group) {
      textarea {
        height: 7rem !important;
      }
    }
  }
  :global(.rbt-menu) > :global(.dropdown-item) {
    padding: .2rem 1rem;
  }
}

.appointment-date-picker-root {
  z-index: 2000;
  .calendar-paper {
    :global(.rdrMonthAndYearWrapper) {
      padding-top: 0;
      height: 30px;
    }

    :global(.rdrMonths) {
      :global(.rdrMonth) {
        padding: 0;
      }
    }
  }
}
