.add-pause-root {
  .modalPaper {
    width: 400px;

    .inputGroup {
      width: 100%;

      .formGroup {
        flex: 1;

        &:first-child {
          margin-right: 5px;
        }
      }
    }
    :global(.input-group) {
      textarea {
        height: 7rem !important;
      }
    }
  }
  :global(.rbt-menu) > :global(.dropdown-item) {
    padding: .2rem 1rem;
  }
}

.appointment-date-picker-root {
  z-index: 2000;
  .calendar-paper {
    :global(.rdrMonthAndYearWrapper) {
      padding-top: 0;
      height: 30px;
    }

    :global(.rdrMonths) {
      :global(.rdrMonth) {
        padding: 0;
      }
    }
  }
}
