.userItem {
  width: 100%;
  background-color: white;

  .tableCell {
    padding: 8px;
  }

  .iconButton {
    padding: 10px;

    &.hidden {
      opacity: 0.5;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .outlinedBtnBlue {
    border-color: #3A83DC;
  }

  .outlinedBtnGreen {
    border-color: #00E987;
  }

  .outlinedBtnRed {
    border-color: #ec3276;
  }

  .outlinedBtnYellow {
    border-color: #FDC534;
  }

  .deleteBtn {
    font-size: 11px;
    height: 35px;
    margin-right: 5px;
    background-color: transparent;

    .buttonLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #F44081;
    }

    &:focus, &:active, &:hover {
      color: #F44081 !important;
      border-color: #F44081 !important;
      background-color: transparent !important;
    }

    svg {
      fill: #F44081;
      margin-left: 5px;
      margin-bottom: 4px;
      width: 20px;
      height: 20px;
    }
  }

  .restoreBtn {
    font-size: 11px;
    height: 35px;
    margin-right: 5px;
    background-color: transparent;

    .buttonLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #00E987;
    }

    &:focus, &:active, &:hover {
      color: #00E987 !important;
      border-color: #00E987 !important;
      background-color: transparent !important;
    }

    svg {
      fill: #00E987;
      margin-left: 5px;
      margin-bottom: 4px;
      width: 20px;
      height: 20px;
    }
  }

  .editBtn {
    font-size: 11px;
    height: 35px;
    margin-right: 5px;
    background-color: transparent;

    .buttonLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #3A83DC;
    }

    &:focus, &:active, &:hover {
      color: #3A83DC !important;
      border-color: #3A83DC !important;
      background-color: transparent !important;
    }

    svg {
      fill: #3A83DC;
      margin-left: 5px;
      margin-bottom: 4px;
      width: 20px;
      height: 20px;
    }
  }

  .resendBtn {
    font-size: 11px;
    height: 35px;
    margin-right: 5px;
    background-color: transparent;

    .buttonLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #FDC534;
    }

    &:focus, &:active, &:hover {
      color: #FDC534 !important;
      border-color: #FDC534 !important;
      background-color: transparent !important;
    }

    svg {
      fill: #FDC534;
      margin-left: 5px;
      margin-bottom: 4px;
      width: 20px;
      height: 20px;
    }
  }

  .statusIndicator {
    height: 30px;
    width: 3px;
    margin-right: 10px;
    border-radius: 6px;

    &.pending {
      border-right: #FDC534 3px solid;
    }

    &.active {
      border-right: #7DD7C8 3px solid;
    }

    &.fired {
      border-right: #ec3276 3px solid;
    }
  }

  .flexContainer {
    display: flex;
    align-items: center;
  }

  .nameAndAvatar {
    flex-direction: row;
    align-items: center;

    svg {
      width: 30px !important;
      height: 30px !important;
    }
  }

  .contact {
    svg {
      fill: #CDCEEA;
      margin-right: 8px;
    }

    .contactLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #34354C;
    }
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
  }

  .name {
    margin-left: .5rem !important;
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    color: #34354C !important;
  }

  .actionButtons {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

  .editButton {
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: #F4FAFE !important;
    border: 1px solid #74A8E5 !important;
    color: #74A8E5 !important;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px !important;
    line-height: 16px !important;

    svg {
      fill: #74A8E5;
      margin-left: .5rem;
    }
  }

  .deleteButton {
    min-width: 96px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
    background: rgba(244, 64, 129, 0.03) !important;
    border: 1px solid #F44081 !important;
    color: #F44081 !important;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px !important;
    line-height: 16px !important;

    svg {
      fill: #F44081;
      margin-left: 8px;
    }
  }

  .restoreButton {
    min-width: 96px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
    background: rgba(244, 64, 129, 0.03) !important;
    border: 1px solid #00E987 !important;
    color: #00E987 !important;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px !important;
    line-height: 16px !important;

    svg {
      fill: #00E987;
      margin-left: 8px;
    }
  }

  .cashierSwitchWrapper {
    min-width: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cashierSwitchTitle {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-size: 11px !important;
      color: #34344E;
      margin-right: 5px;
    }
  }

  .resendButton {
    margin-right: .5rem;
    border: 1px solid #FDC534 !important;
    color: #FDC534 !important;
    width: 96px;
    height: 35px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px !important;
    line-height: 16px !important;

    &:hover {
      background-color: transparent;
    }

    svg {
      fill: #FDC534;
      margin-left: 8px;
    }
  }
}
