.table-body-row {
  cursor: pointer;
  max-height: 2.9rem;
  height: 2.9rem;

  &:hover {
    background-color: #fcfcfc;
  }

  .name-and-photo {
    svg {
      width: 30px;
      height: 30px;
    }

    .avatarRoot {
      margin-right: 0.8rem !important;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: #3a83dc 1px solid;
    }
  }

  .row-label {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px !important;
    margin-bottom: 0;

    &.name {
      outline: none;
      color: #34344e;
      font-weight: 500;
      max-width: 400px;
      display: block;
    }

    &.email,
    &.phone {
      color: #3a83dc !important;

      a {
        color: #3a83dc !important;

        &:hover {
          color: #3a83dc !important;
        }
      }
    }

    svg {
      fill: #3a83dc;
      margin-right: 0.5rem;
    }
  }

  td {
    padding: 0.5rem 1rem;
    border-bottom-color: #ededed;
  }
}
