.hourIndicatorRoot {
  width: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  z-index: 150;

  .line {
    width: 100%;
    margin-left: .15rem;
    height: 1px;
    background-color: #ec3276;
  }

  .hourLabel {
    width: 2.5rem;
    background-color: #ec3276;
    height: 1rem;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
  }
}
