.applicationSettingsForm {
  background: #FFFFFF;
  box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;

  .formTitle {
    width: 100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #34354C;
    margin-bottom: 1rem;
  }

  .titleLabel {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 1;
    margin-bottom: 5px;
  }

  .divider {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .dataWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;

    .saveButton {
      width: 23.5%;
    }
  }
}
