.work-day {
  height: 48px;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .selectRoot {
    width: 90px;
  }

  .apply-to-all-btn {
    user-select: none;
    outline: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.01em;
    margin-right: 0 !important;
    color: #3A83DC;
    cursor: pointer;

    &.hidden {
      visibility: hidden;
      pointer-events: none;
    }

    &.disabled {
      color: #CDCEEA;
      pointer-events: none;
      cursor: default;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  :global(.custom-select) {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    margin-right: 0 !important;
    color: #34354C;
  }

  .separator-text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #34354C;
  }

  .day-title {
    width: 7rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 16px;
    color: #34354C;

    &.selected {
      color: #34354C;
      transition: color .2s ease;
    }

    &.default {
      color: #A1A2C6;
      transition: color .2s ease;
    }
  }

  &__fields {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: .5rem;
    margin-right: .5rem;

    :global(.input-group-append) {
      height: 2rem;
    }

    :global(.input-group-text) {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal !important;
      font-size: .8rem !important;
    }
  }

  &__day-off {
    margin-left: .5rem;
    margin-right: .5rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #A1A2C6;
  }

  &__field {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal !important;
    font-size: .8rem !important;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #A1A2C6;
    margin-left: .5rem;
    height: 2rem !important;
  }
}
