.patientDetailsRoot {
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
  border-radius: .3rem;

  .patientDetailsSpinner {
    position: absolute;
    top: 40%;
    left: 45%;
    color: #3A83DC;
  }

  .header {
    width: calc(100% - 16px);
    padding: 8px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-direction: row;
    height: calc(100% - 46px);
  }
}
