.teethContainer {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  min-height: 180px;
  max-height: 180px;

  .teethColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
}
