.service-details-modal {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFD;
  height: 100%;

  &__header {
    width: 100%;
    padding: .5rem;
    background-color: #FFFFFF;

    &__close-container {
      display: flex;
      width: 100%;
      align-items: flex-end;
      justify-content: flex-end;

      .close-btn {
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

      }
    }

    &__title {
      margin-left: 1.3rem;
      margin-top: -.8rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 48px;
    }

    &__breadcrumb-container {
      margin: .5rem 1.2rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      svg {
        margin-left: .5rem;
        margin-right: .5rem;
      }
    }

    &__breadcrumb {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #A1A2C6;

      &.current {
        color: #34354C;
      }
    }
  }

  &__data {
    margin-bottom: 6.2rem;
    padding: 1rem;
    overflow-y: scroll;
  }
}

.service-information {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
  border-radius: 4px;
  padding: 1.5rem;
  user-select: none;

  &__header {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__step {
      color: #7DD7C8 !important;
      margin-right: .5rem;
    }

    &__title, &__step {
      display: flex;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      color: #34354C;
    }

    &__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      svg {
        fill: #3A83DC;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    padding-left: .2rem;
    padding-right: .2rem;

    &.expanded {
      padding-top: .5rem;
      height: 30.5rem;
      transition: height .2s ease-out, padding-top .2s ease-out;
    }

    &.collapsed {
      padding-top: 0;
      height: 0;
      transition: height .2s ease-out, padding-top .2s ease-out;
    }

    .custom-select {
      font-size: .8rem;
    }

    .form-label {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: .7rem;
      margin-bottom: 0;
    }

    .form-control {
      background-color: #FAFAFD;
      height: 33.19px;
    }

    .input-group {
      textarea {
        height: 80px;
      }
    }

    .input-group-append {
      height: 33.19px;
    }

    &__colors {
      margin-left: .2rem;
      margin-top: .5rem;
      display: flex !important;
      align-items: center;
      justify-content: flex-start;

      &__color-container {
        padding: .63rem;
        border-radius: 1rem;
      }

      .btn-primary {
        width: 2rem;
        height: 2rem;
        margin-right: .3rem;
        flex: unset !important;
        align-items: center;
        justify-content: center;
        display: flex;
        border-color: white;
        background-color: white;
        border-radius: 1rem !important;

        &:hover {
          background-color: white !important;
          border-color: #3A83DC !important;
        }

        &.active {
          border-color: #3A83DC !important;
          background-color: white !important;
        }
      }
    }
  }
}

.service-doctor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: .5rem;
  margin-bottom: .5rem;

  &__name-and-switch {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    width: 8rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;

    &.selected {
      color: #34354C;
      transition: color .2s ease;
    }

    &.default {
      color: #A1A2C6;
      transition: color .2s ease;
    }
  }

  &__fields {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: .5rem;
    margin-right: .5rem;

    .input-group-append {
      height: 2rem;
    }

    .input-group-text {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal !important;
      font-size: .8rem !important;
    }
  }

  &__field {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal !important;
    font-size: .8rem !important;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #A1A2C6;
    margin-left: .5rem;
    height: 2rem !important;
  }
}

.service-doctors {
  margin-top: 1rem;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
  border-radius: 4px;
  padding: 1.5rem;
  user-select: none;

  &__header {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__step {
      color: #7DD7C8 !important;
      margin-right: .5rem;
    }

    &__title, &__step {
      display: flex;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      color: #34354C;
    }

    &__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      svg {
        fill: #3A83DC;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    transition: height .2s ease-out, padding-top .2s ease-out;

    &__no-data {
      width: 100%;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #A1A2C6;

      a {
        margin-left: .2rem;
      }
    }

    &.expanded {
      padding-top: 1rem;
    }

    &.collapsed {
      padding-top: 0;
      height: 0;
    }
  }

  &__footer {
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    padding: 2rem 1rem;
    background-color: white;
    box-shadow: 0px -20px 40px -5px rgba(239, 242, 251, 0.8);

    .cancel-button {
      margin-right: .5rem;
    }

    .delete-button {
      margin-right: .5rem;
    }
  }
}
