.patientInfo {
  display: flex;
  flex-direction: column;
  padding: 16px;

  .linkPatientBtn {
    margin-top: 10px;
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 13px !important;
    color: #3A83DC !important;

    svg {
      margin-right: 5px;
    }
  }

  .avatarContainer {
    align-items: center;
    justify-content: center;
    width: 100%;

    img, svg {
      width: 100px;
      height: 100px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .titleLabel {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 12px !important;
    margin-left: 16px;
    color: #34354C !important;
  }

  .rowTitle {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 13px !important;
    color: #6F7091 !important;
  }

  .rowValue {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 13px !important;
    color: #34354C !important;

    a {
      color: #3a83dc;
    }
  }

  .clickableValue {
    cursor: pointer;
    text-decoration: underline;
    color: #3a83dc !important;

    &:hover {
      color: #5c93d6 !important;
    }
  }
}
