.appointmentPatient {
  width: 100%;
  padding: 16px;

  .dividerContainer {
    width: 100%;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;

    .dividerLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-size: 16px;
      padding-left: 1rem;
      padding-right: 1rem;
      color: #5c93d6;
      position: absolute;
      background-color: white;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .formDivider {
      width: 100%;
    }
  }

  .simpleField {
    margin-top: 10px;
  }

  .phoneInput {
    margin-top: 10px;
  }

  .patientNameContainer {
    display: flex;

    .nameField {
      width: 50%;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
