.sms-messages-root {
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
    border-radius: 4px;
    padding: 1rem;
    margin: .5rem 1rem 1rem;

    .buttons-wrapper {
      display: flex;
      align-items: center;
    }

    .positive-button {
      margin-left: .5rem;
      flex: unset;
      padding: .4rem 1rem;
    }

    &__tabs {
      display: flex;
      flex-direction: row;
    }
  }

  &__data-wrapper {
    flex: 1;
    height: 100%;
    position: relative;

    .no-alias-label {
      text-align: center;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .table-container {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .progress-wrapper {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      .progress {
        color: #3A83DC;
        background-color: transparent;
      }
    }

    thead > tr > td {
      padding-left: .8rem;
    }

    thead > tr > th {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 24px;
      padding: .2rem 1rem;
      border-bottom: none;
      color: #A1A2C6;
    }

    tbody > tr {
      margin-bottom: .3rem;
      background: #FFFFFF;
      box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
      border-radius: 4px;

      &.disabled {
        td {
          background-color: #f1f1f1;
        }
      }

      td {
        padding: .8rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #34354C;

        &.actions {
          width: 50px;
          max-width: 50px;
          padding: 0;

          .more-btn {
            width: 40px;
            height: 40px;
          }
        }

        &.message-title {
          width: 100px;
          max-width: 250px;
        }

        &.message-text {
          width: 100px;
          max-width: 500px !important;
        }

        .message-title {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          color: #34354C;
          max-width: 250px;
        }

        .message-text {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          color: #34354C;
          max-width: 500px;
        }
      }
    }

    tfoot > tr > td {
      padding-left: .8rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: #34354C;
    }
  }
}

.create-message-modal {
  .modal-paper {
    outline: none;
    width: 30%;
    min-height: 250px;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    border-radius: 10px !important;
    overflow: hidden;
    transform: translate(-50%, -50%);
  }

  .title-label {
    margin-bottom: .5rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #34344E;
  }

  .form-container {
    textarea {
      min-height: 100px;
      max-height: 100px;
    }

    .tags-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .tag-label {
        outline: none;
        user-select: none;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #3A83DC;
        margin-right: .5rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .form-label {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: .7rem;
      margin-bottom: 0;
    }

    .languages-select {
      margin-bottom: .3rem;
    }

    .form-text {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #34344E;
      margin-top: 0;

      &.message-length {
        color: #3A83DC;
        text-align: right;

        &.exceeded {
          color: #ec3276;
        }
      }

      &.message-title {
        color: #CDCEEA;
      }
    }

    .form-control {
      .MuiOutlinedInput-multiline {
        padding: 10px 14px;
      }

      &.text-field {
        .form-field-label {
          top: -30%;
          &.filled {
            top: 0;
          }

          &.Mui-focused {
            top: 0;
            color: #3A83DC;
            transform: translate(14px -6px) scale(0.75);
          }
        }
      }

      .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #3A83DC;
      }

      .form-base-input {
        outline: none;
      }

      .input-root {
        padding: 10px 14px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #34344E;
      }

      .select-root {
        padding: 10px 14px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #34344E;

        &:focus {
          background-color: white;
        }
      }

      .form-field-label {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        margin-top: 1px;
        margin-left: 3px;

        &.Mui-focused {
          color: #3A83DC;
        }
      }
    }

    .input-group {
      margin-top: .5rem;
      display: block;

      .input-group-fields {
        display: flex;
      }

      .input-group-append {
        .custom-select {
          width: unset;
          margin-top: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      .form-control {
        flex: 1;
        width: unset !important;
        margin-bottom: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

.create-message-menu {
  li {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #34344E;
  }
}

.message-menu {
  .menu-item {
  }
  .item-text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #34344E;
  }
}
