.wrapper {
  color: #ec3276;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ec3276;

  a {
    color: #3a83dc;
    text-decoration: underline;
    font-weight: 500;
  }
}