.wrapper {
  background-color: #fff;
  padding: .5em;
  display: flex;
  justify-content: center;
  color: #ec3276;
  border-bottom: 1px solid #3a83dc;

  a {
    color: #3a83dc;
    text-decoration: none;
    font-weight: 500;
  }
}