.easyTab {
  outline: none;
  margin-right: 1.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  .tabIndicator {
    margin-top: .2rem;
    width: .25rem;
    height: .25rem;
    border-radius: .12rem;
  }

  &:hover {
    color: #3A83DC !important;

    .tabIndicator {
      background-color: #3A83DC !important;
    }
  }

  &.selected {
    color: #3A83DC;

    .tabIndicator {
      background-color: #3A83DC;
    }
  }

  &.default {
    color: #B8DBF8;

    .tabIndicator {
      background-color: #B8DBF8;
    }
  }

  &.highlighted {
    .tabIndicator {
      background-color: #ec3276 !important;
    }
  }
}
