.logItem {
  width: 100%;
  padding-left: 3.8rem;

  .noteText {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 13px !important;
    color: #6F7091 !important;

    .payload {
      background-color: white;
      border: #c3c3c3 1px solid;
      border-radius: 4px;
      padding: .1rem .5rem;
    }
  }
}
