.confirmation-modal {
  .modal-dialog {
    width: 20%;
  }

  .modal-content {
    box-shadow: 0 1px 10px 10px #34344E1A;
  }

  .modal-body {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #34354C;
  }

  .modal-footer {
    .cancel-button {
      width: 50%;
    }

    .positive-button {
      width: 50%;
    }
  }
}
