.calendar-root {
  outline: none;
  padding: 1.5rem;
  display: flex;
  height: 100%;
  overflow-y: scroll;

  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;

    &__left-container {
      width: 20%;
      height: 100%;
    }

    &__right-container {
      width: 20%;
      height: 100%;
    }

    &__center-container {
      width: 60%;
      height: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    &__account {
      width: 29%;
      max-height: 100%;
    }

    &__details {
      width: 46%;
      max-height: 100%;
    }
  }

  &__services {
    width: 100% !important;
    height: 5rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
    border-radius: 4px;

    .custom-select {
      width: 100% !important;
      font-size: .8rem;
    }

    .form-label {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: .7rem;
      margin-bottom: 0;
    }

    .form-control {
      background-color: #FAFAFD;
    }
  }

  &__doctors {
    height: calc(100% - 6rem);
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
    border-radius: 4px;

    .doctors-header {
      padding: .5rem 1rem;
      display: flex;
      width: 100%;
      height: 3rem;
      align-items: center;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      color: #34354C;
    }

    .doctors-search {
      height: 3rem;
      width: 100%;
      padding: .5rem 1rem;
      border-bottom: #FAFAFD .1rem solid;
    }

    .doctors-content {
      height: calc(100% - 6rem);
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: .5rem;

      .loading-spinner {
        width: 2rem !important;
        height: 2rem !important;
        color: #3A83DC;
      }
    }

    .doctor-item {
      outline: none;
      margin-bottom: .5rem;
      padding: .5rem;
      width: 92%;
      display: flex;
      align-items: center;
      border: .1rem solid #F4FAFE;
      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;

      &:hover, &.selected {
        background-color: #F4FAFE;
        border: .1rem solid #3A83DC;
      }

      svg {
        height: 2rem;
        width: 2rem;
      }

      .name-and-service {
        margin-left: .5rem;
        flex: 1;
        display: flex;
        flex-direction: column;

        .doctor-name {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: .9rem;
          height: .9rem;
          color: #34354C;
        }

        .service-name {
          margin-top: .1rem;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          height: 1rem;
          font-size: .7rem;
          overflow: hidden;
          color: #A1A2C6;
        }
      }
    }
  }

  &__appointment-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    .positive-button {
      margin-bottom: 1rem;
    }

    .rdrCalendarWrapper {
      background: #FFFFFF;
      box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
      border-radius: 4px;
    }

    .rdrMonthAndYearPickers {
      width: 0;
    }

    .rdrMonth {
      max-width: 100%;
    }

    .appointment-details {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
      border-radius: 4px;
      overflow: hidden;

      .appointment-details-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        background-color: #F4FAFE;

        .service-name-container {
          display: flex;
          align-items: center;

          .color-indicator {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: #7DD7C8;
          }

          .service-name {
            margin-left: .5rem;
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #34354C;
          }
        }

        .edit-button {
          outline: none;
          cursor: pointer;
        }
      }

      .appointment-details-data {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .info-row-title {
          margin-right: .5rem;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #34354C;
        }

        .info-row-text {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.01em;
          color: #34354C;
        }

        .info-row {
          display: flex;
          align-items: center;
          padding-top: .5rem;
          padding-bottom: .2rem;

          svg {
            margin-right: .5rem;
            fill: #B8DBF8
          }
        }

        .doctor-info {
          display: flex;
          flex-direction: column;
        }

        .patient-info {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  &__center {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .center-header {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;

      &__date {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #34354C;
      }

      &__tabs {
        display: flex;
        position: relative;
        left: 16%;
        top: 0;
      }
    }

    .center-content {
      flex: 1;
      height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
      border-radius: 4px;
    }

    .title-and-time {
      flex: 1;
      display: flex;
      align-items: center;

      .service-name {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #F44081;
        margin-right: .5rem;
      }

      .item-time-text {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #34354C;
        white-space: nowrap;
      }
    }
  }

  &__day-view {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .day-appointment-item {
      cursor: pointer;
      width: 88%;
      left: 4rem;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: .5rem;
      padding-left: .5rem;
      background: rgba(244, 64, 129, 0.05);
      border: 1px solid #F44081;
      box-sizing: border-box;
      border-radius: 4px;

      svg {
        width: 1.1rem;
        height: 1.1rem;
        margin-left: .5rem;
      }
    }

    .day-hour {
      height: 32px;
      width: 100%;
      display: flex;
      align-items: center;

      &.highlighted {
        .hour-text {
          color: #3A83DC;
        }

        .hour-line {
          background-color: #3A83DC;
        }
      }

      .hour-line {
        width: 100%;
        height: 1px;
        margin-left: 1rem;
        background-color: #DBEEFB;
      }

      .hour-text {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        color: #B8DBF8;
        width: 2rem;
      }
    }
  }

  .week-view {
    height: 100%;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 100%;
    }

    .week-hour-text {
      height: 32px;
      width: 2rem;
      display: flex;
      align-items: center;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      color: #B8DBF8;

      &.highlighted {
        color: #3A83DC;
      }
    }

    .days-container {
      height: 100%;
      margin-left: 1rem;
      display: flex;
      width: calc(100% - 2rem);

      .week-day {
        width: calc(100% / 7);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border-right: #DBEEFB 1px solid;

        .appointment-item {
          cursor: pointer;
          position: absolute;
          width: 100%;
          height: 32px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding-left: .3rem;
          padding-right: .3rem;
          background: rgba(244, 64, 129, 0.05);
          border: 1px solid #F44081;
          box-sizing: border-box;
          border-radius: 4px;

          .title-and-time {
            flex: unset;
            flex-direction: column;
            align-items: flex-start;

            .service-name {
              margin-right: 0;
            }

            .item-time-text {
              font-size: 10px;
            }
          }
        }

        .day-title {
          width: 100%;
          position: absolute;
          top: -.7rem;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          text-align: right;
          color: #B8DBF8;

          &.highlighted {
            color: #3A83DC;
          }
        }

        .week-hour {
          width: 100%;
          height: 32px;
          display: flex;
          align-items: center;

          &.highlighted {
            .hour-text {
              color: #3A83DC;
            }

            .hour-line {
              background-color: #3A83DC;
            }
          }

          .hour-line {
            width: 100%;
            height: 1px;
            background-color: #DBEEFB;
          }
        }
      }
    }
  }

  .month-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    .item-data-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% / 7);
      height: calc(100% / 6);
      border-top: 1px solid #DBEEFB;
      border-right: 1px solid #DBEEFB;

      &.current-date {
        background-color: #F4FAFE;
      }

      .item-text {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #B8DBF8;

        &.month-day {
          position: absolute;
          top: .5rem;
          right: .5rem;
        }

        &.next-month {
          color: #DBEEFB;
        }
      }

      .appointments-container {
        width: 100%;
        height: 100%;
        padding: 1.7rem .5rem .5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .view-more-container {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: flex-end;

          .view-more-button {
            height: calc(100% / 4 - .1rem);
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 8px;
            letter-spacing: 0.01em;
            color: #3A83DC;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .appointment-item {
          width: 100%;
          height: calc(100% / 4 - .1rem);
          margin-bottom: .1rem;
          padding-left: .2rem;
          padding-right: .2rem;
          background: #FEF5F9;
          border: 1px solid #F44081;
          border-radius: 4px;
          display: flex;
          align-items: center;
          cursor: pointer;

          .service-name {
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            color: #F44081;
          }
        }
      }
    }
  }
}
