.calendar-root {
  outline: none;
  padding: 0 10px 1rem;
  display: flex;
  height: 100%;
  overflow-y: scroll;
  position: relative;

  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;

    &__left-container {
      width: 15%;
      height: 100%;
    }

    &__right-container {
      width: 18%;
      height: 100%;
    }

    &__center-container {
      height: 100%;
      width: 100%;

      .parsing-progress-wrapper {
        box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
        background-color: transparent;
      }
    }

    &__account {
      width: 29%;
      max-height: 100%;
    }

    &__details {
      width: 46%;
      max-height: 100%;
    }
  }

  &__services {
    width: 100% !important;
    height: 5rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
    border-radius: 4px;

    .custom-select {
      width: 100% !important;
      font-size: .8rem;
    }

    .form-label {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: .7rem;
      margin-bottom: 0;
    }

    .form-group {
      width: 100%;
    }

    .form-control {
      background-color: #FAFAFD;
    }
  }

  &__doctors {
    height: 100%;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
    border-radius: 4px;

    .doctors-header {
      padding: .5rem 1rem;
      display: flex;
      width: 100%;
      height: 3rem;
      align-items: center;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      color: #34354C;
    }

    .doctors-search {
      height: 3rem;
      width: 100%;
      padding: .5rem 1rem;
      border-bottom: #FAFAFD .1rem solid;
    }

    .doctors-content {
      overflow-y: scroll;
      max-height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: .5rem;

      .loading-spinner {
        width: 2rem !important;
        height: 2rem !important;
        color: #3A83DC;
      }
    }

    .doctor-item {
      outline: none;
      margin-bottom: .5rem;
      padding: .5rem;
      width: 92%;
      display: flex;
      align-items: center;
      min-height: 50px;
      border: .1rem solid #F4FAFE;
      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;
      overflow: hidden;

      &:hover, &.selected {
        background-color: #F4FAFE;
        border: .1rem solid #3A83DC;
      }

      svg {
        height: 30px;
        width: 30px;
      }

      .name-and-service {
        padding-right: .4rem;
        margin-left: .4rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .doctor-name {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: .9rem;
          color: #34354C;
        }

        .service-name {
          margin-top: .1rem;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: .7rem;
          color: #34344E;
        }
      }
    }
  }

  &__appointment-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    .positive-button {
      margin-bottom: 1rem;
    }

    .rdrCalendarWrapper {
      background: #FFFFFF;
      box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
      border-radius: 4px;
    }

    .rdrMonthAndYearPickers {
      width: 0;
    }

    .rdrMonth {
      max-width: 100%;
    }

    .appointment-details {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
      border-radius: 4px;
      overflow: hidden;

      .appointment-details-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        background-color: #F4FAFE;

        .service-name-container {
          display: flex;
          align-items: center;

          .color-indicator {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: #7DD7C8;
          }

          .service-name {
            margin-left: .5rem;
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #34344E;
          }
        }

        .actions-container {
          display: flex;
          align-items: center;

          .edit-button {
            outline: none;
            cursor: pointer;
          }

          .delete-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ec32761A;
            outline: none;
            cursor: pointer;
            padding: .32rem;
            border-radius: 50%;
            margin-right: .5rem;

            svg {
              fill: #ec3276;
              margin: 0;
            }
          }
        }
      }

      .appointment-details-data {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .info-row-title {
          margin-right: .5rem;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #34354C;
        }

        .info-row-text {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.01em;
          color: #34354C;
        }

        .info-row {
          display: flex;
          align-items: center;
          padding-top: .5rem;
          padding-bottom: .2rem;

          svg {
            margin-right: .5rem;
            fill: #B8DBF8
          }
        }

        .appointment-status-wrapper {
          width: 100%;
          padding: .5rem;
          display: flex;
          align-items: center;
          justify-content: center;

          .status-name-label {
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.01em;
          }
        }

        .doctor-info {
          display: flex;
          flex-direction: column;
        }

        .patient-info {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  &__center {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .loading-spinner {
      color: #3A83DC;
      position: absolute;
      left: 50%;
      top: 50%;
    }

    .center-header {
      margin-bottom: 0rem;
      display: flex;
      align-items: center;
      position: relative;

      .controls-wrapper {
        .today-btn {
          outline: none;
          color: #3A83DC;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
        }
      }

      .arrow-button {
        outline: none;
        width: 30px;
        height: 30px;

        .button-icon {
          color: #3A83DC;
        }
      }

      .right-btns-wrapper {
        .positive-button {
          top: 50%;
          transform: translateY(-50%);
        }

        .import-btn {
          position: absolute;
          top: calc(50% - 1px);
          transform: translateY(-50%);
          height: 30px;
          right: 12.5rem;

          svg {
            margin: 0;
          }
        }

        .add-appointment-btn {
          font-size: 11px;
          top: calc(50% - 1.5px);
          height: 30px;
          width: 180px;
        }
      }

      .positive-button {
        flex: unset;
        position: absolute;
        right: 1rem;
        top: 0;
        width: 160px;

        &.calendar-btn {
          height: 30px;
          position: unset;
          font-size: 11px;
        }
      }

      .loading-button {
        width: 2.5rem;
      }

      .date-wrapper {
        display: flex;
        align-items: center;
        outline: none;
        cursor: pointer;
        justify-content: center;

        svg {
          width: 1.6rem;
          height: 1.6rem;
          margin-bottom: .2rem;
          margin-left: .5rem;
        }

        &:hover {
          .center-header__date {
            text-decoration: underline;
          }
        }
      }

      &__date {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #3A83DC;
      }

      &__tabs {
        display: flex;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);

        .easy-tab {
          font-size: 11px;

          .tab-indicator {
            margin-top: 0;
          }
        }
      }
    }

    .center-content {
      height: 95%;
      max-height: 95% !important;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      position: relative;
      background: #FFFFFF;
      overflow: hidden;
      box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);

      .day-off-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #34344E;
        margin-right: .5rem;
      }
    }

    &.full-height {
      height: 100%;
      flex: unset !important;
    }

    .title-and-time {
      flex: 1;
      display: flex;
      align-items: center;

      .service-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        margin-right: .5rem;
        color: #34344E;
      }

      .item-time-text {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        color: #34354C;
        white-space: nowrap;
      }
    }
  }

  &__day-view {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .day-appointment-item {
      outline: none;
      cursor: pointer;
      width: 88%;
      left: 4rem;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: .5rem;
      padding-left: .5rem;
      box-sizing: border-box;
      border-radius: 4px;

      svg {
        width: 1.1rem;
        height: 1.1rem;
        margin-left: .5rem;
      }
    }

    .day-hour {
      height: 32px;
      width: 100%;
      display: flex;
      align-items: center;

      &.highlighted {
        .hour-text {
          color: #3A83DC;
        }

        .hour-line {
          background-color: #3A83DC;
        }
      }

      .hour-line {
        width: 100%;
        height: 1px;
        margin-left: 1rem;
        background-color: #DBEEFB;
      }

      .hour-text {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        color: #B8DBF8;
        width: 2rem;
      }
    }
  }

  .week-view {
    max-height: 100% !important;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;

    .table-container {
      height: 100%;
      overflow: scroll;

      .MuiTableCell-body {
        border-bottom: none;
      }

      table {
        min-height: 100%;
        flex: 1;
        overflow: hidden;
        border: none;

        thead {
          tr {
            width: 100%;
            border-bottom: #DBEEFB 1px solid;

            th {
              cursor: pointer;
              width: calc(100% / 7);
              padding-top: .7rem;
              padding-bottom: .5rem;
              border-right: #DBEEFB 1px solid;

              &:hover {
                .day-title {
                  color: #3A83DC;
                }
              }
            }

            th:last-child {
              border-right: none;
            }
          }
        }
      }
    }

    .day-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      color: #B8DBF8;

      &.highlighted {
        color: #3A83DC;
      }

      &.current-day {
        color: #6397d7;
      }
    }

    .week-day:last-child {
      border-right: none;
    }

    .week-day {
      padding-top: .5rem;
      padding-left: .2rem;
      padding-right: .2rem;
      width: calc(100% / 7);
      align-items: flex-start;
      position: relative;
      border-right: #DBEEFB 1px solid;
      vertical-align: top;

      .schedule-item {
        margin-bottom: .4rem;
      }

      .week-hour {
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;

        &.highlighted {
          .hour-text {
            color: #3A83DC;
          }

          .hour-line {
            background-color: #3A83DC;
          }
        }

        .hour-line {
          width: 100%;
          height: 1px;
          background-color: #DBEEFB;
        }
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    .week-hour-text {
      height: 32px;
      width: 2rem;
      display: flex;
      align-items: center;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      color: #B8DBF8;

      &.highlighted {
        color: #3A83DC;
      }
    }
  }

  .month-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    .item-data-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% / 7);
      border-top: 1px solid #DBEEFB;
      border-right: 1px solid #DBEEFB;
      cursor: pointer;

      &:hover {
        border: #3A83DC 1px solid;
      }

      &.current-date {
        background-color: #F4FAFE;
      }

      .item-text {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #B8DBF8;

        &.month-day {
          position: absolute;
          top: .5rem;
          right: .5rem;
        }

        &.next-month {
          color: #DBEEFB;
        }
      }

      .appointments-container {
        width: 100%;
        height: 100%;
        padding: 1.7rem .5rem .5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .view-more-container {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: flex-end;

          .view-more-button {
            height: calc(100% / 4 - .1rem);
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 8px;
            letter-spacing: 0.01em;
            color: #3A83DC;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .schedule-item {
          margin-bottom: .1rem;
          height: calc(100% / 4 - .1rem);
        }
      }
    }
  }
}

.calendar-service-tooltip-label {
  font-size: .8rem !important;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #fff;
}

.schedule-item {
  width: 100%;
  outline: none;
  background-color: white;
  position: relative;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
  padding: 1px .2rem 1px .5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.urgent {
    box-shadow: 0 0 7px 1px #ec3276;
  }

  &.upcoming {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
  }

  .name-and-status {
    width: 100%;
    display: flex;
    align-items: center;

    .patient-name {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      color: #34344E;
    }

    .status-icon {
      width: 1.2rem;
      height: 1.2rem;
      display: flex;
      margin-left: .2rem;
      align-items: center;
      justify-content: center;

      &.negative {
        svg {
          width: 1.2rem;
          height: 1.2rem;
          fill: #ec3276 !important;
        }
      }

      svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: #00E987 !important;
      }
    }
  }

  .schedule-time {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #34344E;
    width: 100%;
  }

  .service-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
  }
}

.appointment-item {
  outline: none;

  .name-and-status {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .status-icon {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.negative {
      svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: #ec3276 !important;
      }
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: #00E987 !important;
    }
  }

  &.urgent {
    box-shadow: 0 0 7px 1px #ec3276;
  }

  &.upcoming {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.appointments-date-picker-root {
  z-index: 999;
  margin-top: .5rem;

  .calendar-paper {
    border: #3A83DC 1px solid;
    border-radius: 4px;
    overflow: hidden;
  }
}

.calendar-doctors-view {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  position: relative;

  .loading-progress-wrapper {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loading-schedules-progress {
      color: #3A83DC;
    }
  }

  table {
    width: 100%;
    thead {
      width: 100%;
      tr {
        td {
          padding-top: .5rem !important;
          padding-bottom: .5rem !important;
          border-bottom: #DBEEFB 1px solid;

          .hour-wrapper {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .hour-text {
              font-size: .9rem;
              font-weight: bold;
              margin-bottom: -.3rem;
              color: #34354C;
              background-color: #fff;
              border-bottom: #ededed 1px solid;
            }

            .minute-text {
              font-size: .6rem;
              font-weight: bold;
              color: #34354C;
              background-color: #fff;
              border-bottom: #ededed 1px solid;
            }
          }
        }
        td:first-child {
          max-width: 210px !important;
          border-right: #DBEEFB 1px solid;

          .title-label {
            width: 100%;
            font-size: 1rem;
            font-weight: 600;
            padding-right: 1rem;
            padding-left: 1rem;
            color: #34354C;
          }
        }
      }
    }
  }

  &__appointments-wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    table {
      tbody {
        tr {
          td:first-child {
            max-width: 210px !important;
            overflow: hidden;

            .doctor-row {
              display: flex;
              width: 100%;
              align-items: center;
            }

            .doctor-info-wrapper {
              z-index: 1;
              width: 100%;
              padding: .5rem;
              display: flex;
              align-items: center;
              overflow: hidden;
              cursor: pointer;

              .avatar-wrapper {
                z-index: 1;
                margin-left: .5rem;
                margin-right: .5rem;
                width: 40px;
                height: 40px;
                border-radius: 50%;

                svg, img {
                  width: 40px;
                  height: 40px;
                }
              }

              .name-and-services {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                text-overflow: ellipsis !important;

                .doctor-name {
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: .9rem;
                  height: .9rem;
                  margin-bottom: .2rem;
                  color: #34354C;

                   &.MuiTypography-noWrap {
                     overflow: unset;
                   }
                }

                .services-names {
                  display: -webkit-box;
                  margin-top: .1rem;
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: .7rem !important;
                  color: #A1A2C6;
                }
              }
            }
          }

          td {
            padding-top: .5rem !important;
            padding-bottom: .5rem !important;
            border-bottom: #DBEEFB 1px solid;
            border-right: #DBEEFB 1px solid;

            .appointment-item {
              width: 100%;
              flex-direction: column;
              cursor: pointer;
              user-select: none;
              margin-top: .1rem;
              margin-bottom: .1rem;
              border-radius: .2rem;
              display: flex;
              align-items: flex-start;
              justify-content: center;
              padding: .2rem .5rem;
              overflow: hidden;

              .patient-name {
                width: 100%;
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                color: #34354C;
              }
            }
          }
        }
      }
    }

    .hours-container {
      height: 3.55rem;
      display: flex;
      flex: 1;
      padding: 1rem;
      border-bottom: #DBEEFB 1px solid;
    }

    .doctor-appointments-row {
      width: 100%;
      border-bottom: #DBEEFB 1px solid;
      position: relative;
    }
  }

  &__hour {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }
}

.calendar-day-view {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;

  .day-data-container {
    overflow-y: auto;
    display: flex;
    width: 100%;
    height: calc(100% - 30px);
    position: relative;

    .no-data-wrapper {
      width: 100%;
      min-width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .no-data-label {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem !important;
        color: #34344E;
      }

      .no-data-image {
        width: 400px;
        height: auto;
      }
    }

    .loading-progress-wrapper {
      z-index: 5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .loading-schedules-progress {
        color: #3A83DC;
      }
    }

    .day-hours-container {
      height: fit-content;
      flex-direction: column;
      align-items: center;
      padding-left: .5rem;
      padding-right: .5rem;
      width: 45px;
      position: relative;

      .day-hour-item {
        height: 60px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        color: #34344E;
        display: flex;
        align-items: center;
        user-select: none;
      }
    }

    .day-schedules-container {
      display: flex;
      height: fit-content;
      width: calc(100% - 45px);
      position: relative;
      overflow-x: hidden;

      .day-schedules-column {
        height: inherit;
        border-right: #ededed 1px solid;
        position: relative;

        &.disabled {
          background-color: #f5f5f5;
          cursor: not-allowed;
        }

        .day-view-schedule {
          outline: none;
          position: absolute;
          height: fit-content;
          cursor: pointer;
          display: flex;
          align-items: center;
          overflow: hidden;
          min-height: 30px;
          padding-left: .3rem;
          background-color: #f3f3f3;
          border-radius: 3px;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);

          &.upcoming {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            animation-iteration-count: infinite;
          }

          &.urgent {
            box-shadow: 0 0 7px 1px #ec3276;
          }

          &__status-indicator {
            height: calc(100% - 10px);
            width: 4px;
            border-radius: 2px;
          }

          &__wrapper {
            margin-top: 2px;
            width: 99%;
            height: 98%;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .header {
              width: 100%;
              height: 30px;
              min-height: 30px;
              max-height: 30px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-left: .5rem;
              padding-right: .5rem;

              .hour-label {
                color: #34344E;
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;

                &.pause {
                  color: white;
                  width: 100%;
                  text-align: center;
                }
              }

              .patient-name-label {
                color: #34344E;
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
              }

              .status-icon {
                width: 1.2rem;
                height: 1.2rem;
                display: flex;
                margin-left: .2rem;
                align-items: center;
                justify-content: center;

                &.negative {
                  svg {
                    width: 1.2rem;
                    height: 1.2rem;
                    fill: #ec3276 !important;
                  }
                }

                svg {
                  width: 1.2rem;
                  height: 1.2rem;
                  fill: #00E987 !important;
                }
              }
            }

            .info {
              padding-top: .3rem;
              padding-bottom: .3rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
              height: 100%;
              overflow: hidden;

              .info-wrapper {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: flex-start;
                width: 100%;
                overflow: hidden;
                padding-left: .5rem;
                padding-right: .5rem;
                height: 60px;

                .info-row {
                  width: 100%;
                  display: flex;
                  align-items: start;
                  overflow: hidden;
                  height: 20px;
                  min-height: 20px;

                  .info-title {
                    height: 100%;
                    font-family: Inter, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    margin-right: .3rem;
                    width: 60px;
                  }

                  .info-label {
                    height: 100%;
                    font-family: Inter, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                  }
                }
              }

              .pause-wrapper {
                flex: 1;
                align-items: center;
                justify-content: center;
                padding-left: .3rem;
                padding-right: .3rem;

                .comment-label {
                  margin-top: 1rem;
                  color: white;
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  width: 100%;
                  text-align: center;
                }

                .pause-label {
                  width: 100%;
                  text-align: center;
                  color: white;
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 15px;
                }
              }
            }
          }
        }

        &:last-child {
          border-right: none;
        }

        .day-schedule-item-container {
          width: 100%;
          height: 30px;
          position: relative;

          .create-schedule-view {
            outline: none;
            padding-left: .5rem;
            padding-right: .5rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #3A83DC;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.disabled {
              background-color: #ced4da;
            }

            .hour-text {
              color: white;
              font-family: Inter, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
            }
          }
        }

        .create-schedule-indicator {
          height: 30px;
          background-color: #00ac00;
          position: absolute;
          left: 0;
          width: 100%;
        }
      }

      .hour-line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
      }
    }
  }

  .day-doctors-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-left: 45px;
    border-bottom: #ededed 1px solid;

    &__item {
      outline: none;
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding-left: .3rem;
      padding-right: .3rem;
      cursor: pointer;

      &.disabled {
        background-color: #f5f5f5;
        cursor: not-allowed;

        .doctor-name {
          color: #6F7091;
          pointer-events: none;
          font-size: 12px;
        }
      }

      .menu-option {
        display: flex;
        align-items: center;

        svg {
          fill: #3A83DC;
          margin-right: .5rem;
          height: 20px;
          width: 20px;
        }

        &:hover {
          .option-label {
            color: #3A83DC;
          }
        }

        .option-label {
          user-select: none;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: .8rem !important;
          color: #34344E;
        }
      }

      .doctor-name {
        user-select: none;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px !important;
        color: #34344E;

        &:hover {
          color: #3A83DC;
        }
      }
    }
  }
}
