.addXRayRoot {
  .simpleField {
    width: 100%;
    margin-bottom: 5px;
  }

  .formRoot {
    padding: 16px;
  }

  .fileInput {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      font-size: .9rem;
      font-family: Inter, sans-serif;
      font-style: normal;
    }

    label {
      height: 35px;
      border: rgba(0, 0, 0, 0.23) 1px solid;
      border-radius: 4px;
      font-family: Inter, sans-serif !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 13px !important;
      color: #34354C !important;

      &:hover {
        border-color: #3A83DC;
      }
    }
  }

  .formLabel {
    user-select: none;
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 10px !important;
    color: #6F7091 !important;
  }

  :global(.modal-dialog) {
    width: 300px;
  }

  :global(.modal-content) {
    box-shadow: 0 1px 10px 10px #34344E1A;
  }

  :global(.modal-body) {
    padding: .5rem 1rem;

    :global(.form-group) {
      margin-bottom: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      :global(.form-label) {
        margin-bottom: 0;
      }

      :global(.custom-select) {
        font-family: Inter, sans-serif;
        font-style: normal;
        margin-top: 0 !important;
        margin-right: 0 !important;
        display: flex;
        font-size: .7rem;
        align-items: center;
        height: 2rem;
      }
    }
  }
}
