.patients-root {
  outline: none;
  padding: 1.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;

  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;

    &__list {
      width: 22%;
      max-height: 100%;
    }

    &__account {
      width: 29%;
      max-height: 100%;
    }

    &__details {
      width: 46%;
      max-height: 100%;
    }
  }

  &__list {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
    border-radius: .3rem;

    .loading-spinner {
      width: 2rem !important;
      height: 2rem !important;
      color: #3A83DC;
    }

    &__header {
      user-select: none;
      -webkit-user-select: none;
      padding: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-size: 1rem;

      .title-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .form-group {
        width: 100%;
        margin-top: .5rem;
        margin-bottom: 0;
      }

      .more-btn {
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
    }

    &__add-btn {
      outline: none;
      padding: 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #CDCEEA;
      font-size: .8rem;
      user-select: none;

      &:hover {
        background-color: rgba(0, 0, 0, .02);
      }

      svg {
        fill: #CDCEEA;
        margin-right: .5rem;
      }
    }

    &__item {
      width: 89%;
      outline: none;
      margin-right: 1rem;
      margin-left: 1rem;
      margin-bottom: .5rem;
      align-items: center;
      display: flex;
      padding: .3rem .6rem;
      border: .1rem solid #F4FAFE;
      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;

      .next-arrow {
        svg {
          width: 1.3rem;
          height: 1.3rem;
        }
      }

      &:hover, &.selected {
        background-color: #F4FAFE;
        border: .1rem solid #3A83DC;
      }

      &__patient-name {
        flex: 1;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: .8rem;
        line-height: 20px;
        color: #6F7091;

        &.selected {
          color: #3A83DC;
        }
      }

      &__patient-photo {
        height: 2.3rem;
        width: 2.3rem;
        margin-right: .6rem;

        img {
          height: 100%;
          width: 100%;
          margin-right: .6rem;
        }

        svg {
          height: 100%;
          width: 100%;
          margin-right: .6rem;
        }
      }
    }
  }

  &__account {
    outline: none;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
    border-radius: .3rem;

    &__content {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__avatar-container {
      width: 5rem;
      height: 5rem;

      svg {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__data-form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .form-label {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: .7rem;
        margin-bottom: 0;
      }

      .form-control {
        outline: none;
        width: 100%;
        background-color: #FAFAFD;
      }
    }

    &__actions {
      margin-top: .5rem;
      display: flex;
      align-items: center;
      width: 100%;

      .delete-button {
        margin-right: .5rem;
      }
    }
  }
}
