.modalRoot {
  .modalPaper {
    outline: none;
    position: absolute;
    min-width: 20rem;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    border-radius: 10px !important;
    overflow: hidden;
    transform: translate(-50%, -50%);

    .modalHeader {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 8px 16px;
      width: calc(100% - 32px);
      background-color: #F4FAFE;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .titleLabel {
        max-width: 100%;
        font-family: Inter, sans-serif;
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 15px !important;
        line-height: 24px !important;
        color: #34354C !important;
      }

      .closeButton {
        padding: 0;

        svg {
          width: 1.3rem;
          height: 1.3rem;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }
    }

    .modalBody {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;

      :global(.form-label) {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: .7rem;
        margin-bottom: 0;
      }

      :global(.custom-select) {
        height: 2.1rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: 13px;
      }

      :global(.form-group) {
        margin-bottom: 0;
        margin-top: .5rem;
      }

      :global(.form-label) {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: .7rem;
        margin-bottom: 0;
      }

      :global(.form-control) {
        width: 100%;
        background-color: #FAFAFD;
      }

      :global(.input-group) {
        textarea {
          height: 5rem !important;
        }
      }

      :global(.rbt-aux) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: .5rem;
      }

      :global(.custom-select) {
        height: 2.1rem;
        font-size: .8rem;
      }

      :global(.rdrCalendarWrapper) {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: 11px;

        :global(.rdrMonths) {
          justify-content: center;
        }
      }
    }

    .modalFooter {
      padding: 4px 8px;
      height: 50px;
      align-items: center;
      justify-content: flex-end;
      display: flex;
      flex-direction: row;
      width: calc(100% - 16px);
      border-top: #ededed 1px solid;

      .noteLabel {
        flex: 1;
        color: #34354C !important;
        text-align: center !important;
        font-family: Inter, sans-serif !important;
        font-style: normal !important;
        font-size: 14px !important;
      }

      .primaryButton {
        outline: none;
        color: #3A83DC;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: 13px;

        .progressBar {
          width: 20px !important;
          height: 20px !important;
        }
      }

      .destroyButton {
        outline: none;
        color: #ec3276;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: 13px;

        .progressBar {
          width: 20px !important;
          height: 20px !important;
        }
      }

      .secondaryButton {
        outline: none;
        color: #6F7091;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: 13px;
      }
    }
  }
}
