@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.pageHeader {
  max-width: 100%;
  padding: 1rem 1.8rem 1.8rem;
  align-items: flex-start;
  height: 10rem;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 100%);
  display: flex;
  justify-content: space-between;

  .helpButton {
    color: #3A83DC;
    font-weight: bold;
    font-size: 16px;
  }

  .invoicesBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exchangeRateBtn {
    margin-right: 1rem;

    &.upcoming {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      animation-iteration-count: infinite;
    }
  }

  .title {
    margin-top: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Inter, sans-serif;
    font-style: normal;
  }

  .avatarContainer {
    .avatarImage {
      border-radius: 25px;
      object-fit: cover;
      border: #3A83DC 2px solid;
    }
    .avatarImage, svg {
      object-fit: cover;
      width: 50px;
      height: 50px;
      margin-left: 1rem;
      margin-right: .5rem;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .MuiFormControl-root {
    position: absolute;
    left: 50%;
    width: 20%;
    margin-top: .25rem;
    border: 1px solid #E5E5F5;
    box-sizing: border-box;
    box-shadow: 0 15px 70px -10px rgba(239, 242, 251, 0.6);
    border-radius: 4px;
  }

  .MuiInputBase-root {
    font-size: 0.9rem;
  }

  .MuiOutlinedInput-input {
    padding: .8rem;

    &::placeholder {
      color: #CDCEEA;
    }
  }

  .MuiOutlinedInput-root.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
      border: 2px solid #3A83DC;
    }
  }

  .addInvoiceBtn {
    outline: none;
    width: 45px;
    height: 45px;
    margin-left: .5rem;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .search {
    position: absolute;
    top: .25rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__search {
    width: 30%;
    margin-top: .25rem;
    padding-left: .8rem;
    padding-right: .8rem;
    background: rgba(255, 255, 255, 0.4);
    /* Grayscale / Gray 05 */
    border: 1px solid #E5E5F5;
    box-sizing: border-box;
    box-shadow: 0 15px 70px -10px rgba(239, 242, 251, 0.6);
    border-radius: 4px;

    &::placeholder {
      color: #CDCEEA;
      font-size: 0.9rem;
    }
  }

  .notifications {
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    padding: 0;
  }
}
