.easImage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-width: 20px;
  min-height: 20px;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.loading {
      display: none;
    }
  }

  .placeholderRect {
    background-color: #c3c3c3;
    width: inherit;
    height: inherit;
  }

  .progressBarWrapper {
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .progressBar {
      color: #3A83DC !important;
      width: inherit !important;
      height: inherit !important;
    }
  }

  svg {
    width: inherit !important;
    height: inherit !important;
  }
}
