.loginForm {
  position: relative;

  &.disabled {
    .sign-up-btn, .forgot-button {
      pointer-events: none;
      cursor: auto;
    }
  }

  :global(.form-title) {
    margin-bottom: 3rem;
  }

  :global(.form-group) {
    .passwordVisibilityAppend {
      height: 33.19px;

      .visibilityToggleBtn {
        height: 100%;
        display: flex;
        align-items: center;

        svg {
          height: 100%;
          margin-left: 0;
        }
      }
    }
  }

  .forgotPasswordContainer {
    user-select: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: .1rem;

    .forgotButton {
      outline: none;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.01em;
      cursor: pointer;
      color: #3A83DC;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  :global(.footer) {
    .footerSignUp {
      display: flex;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;

      .text {
        color: #34354C;
      }

      .signUpBtn {
        outline: none;
        margin-left: .2rem;
        color: #3A83DC !important;
        cursor: pointer;

        &.disabled {
          pointer-events: none;
          cursor: auto;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
