.loginForm {
  position: relative;

  &.disabled {
    .sign-up-btn, .forgot-button {
      pointer-events: none;
      cursor: auto;
    }
  }

  .passwordContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .visibilityToggleBtn {
    height: 100%;
    display: flex;
    align-items: center;

    svg {
      height: 20px;
      width: 20px;
      margin-left: 0;
      fill: #3A83DC;
    }
  }

  .fieldContainer {
    width: 100%;
    margin-bottom: 5px;

    &.password {
      margin-bottom: 0;
    }
  }

  .formGroup {
    .passwordVisibilityAppend {
      height: 33.19px;

    }
  }

  .forgotButton {
    outline: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    cursor: pointer;
    color: #3A83DC;

    &:hover {
      text-decoration: underline;
    }
  }

  .forgotPasswordContainer {
    user-select: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: .1rem;
  }

  :global(.footer) {
    .footerSignUp {
      display: flex;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;

      .text {
        color: #34354C;
      }

      .signUpBtn {
        outline: none;
        margin-left: .2rem;
        color: #3A83DC !important;
        cursor: pointer;

        &.disabled {
          pointer-events: none;
          cursor: auto;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
