.newPatientsRoot {
  outline: none;
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
  padding: 8px;

  .loadingButton {
    background-color: #3A83DC;
    color: white;
    margin-left: 5px;

    &:hover {
      background-color: #3A83DC;
    }

    svg {
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }

  .content {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: #FFFFFF;
    position: relative;
    max-height: 100%;
    overflow: hidden;
    box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);

    :global(.MuiTablePagination-root) {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: white;
      border-top: #ededed 1px solid;

      :global(.MuiButtonBase-root) {
        outline: none;
      }

      :global(.MuiTablePagination-caption), :global(.MuiTablePagination-select) {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px !important;
      }
    }

    .tableWrapper {
      height: 100%;
      position: relative;
      overflow-y: scroll;
    }

    .patientsProgressBar {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #3A83DC;
    }

    .tableHeadRow {
      th {
        padding: 1rem;
        background-color: white;
      }
    }

    .tableContainer {
      max-height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 3.25rem;
    }

    .tableFooter {
      width: 100%;
    }

    .headerLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 11px !important;
      margin-bottom: 0;
    }

    .actionsContainer {
      padding-left: 1rem;
      padding-right: 1rem;
      align-items: center;
      position: absolute;
      width: 55%;
      bottom: 0;
      left: 0;
      display: flex;
      height: 3.3rem;

      .createBtn {
        height: 35px;
        margin-right: 5px;
        color: #00E987;
        border-color: #00E987;
        font-size: 11px;

        &:focus, &:active, &:hover {
          color: #00E987 !important;
          border-color: #00E987 !important;
          background-color: transparent !important;
        }

        .buttonLabel {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          color: #00E987;
        }

        svg {
          margin-bottom: 2px;
          margin-left: 2px;
        }
      }

      .outlinedBtnBlue {
        border-color: #3A83DC;
      }

      .outlinedBtnGreen {
        border-color: #00E987;
      }

      .importBtn {
        font-size: 11px;
        height: 35px;
        width: 12rem !important;
        margin-right: 5px;
        background-color: transparent;

        .buttonLabel {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          color: #3A83DC;
        }

        &:focus, &:active, &:hover {
          color: #3A83DC !important;
          border-color: #3A83DC !important;
          background-color: transparent !important;
        }

        svg {
          fill: #3A83DC;
          margin-left: 5px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
