.loadingButton {
  min-width: 100px !important;
  outline: none;
  height: 35px;
  background-color: #3A83DC !important;
  color: white !important;

  &:hover {
    background-color: #3A83DC;
    color: inherit;
  }

  .buttonLabel {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px !important;
    color: inherit;
  }

  svg {
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
    margin-left: 5px;
    fill: currentColor;
  }

  &.disabled {
    color: white !important;
    background-color: #A1A2C6 !important;
  }

  .spinnerWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;

    .loadingButtonSpinner {
      height: 1.3rem !important;
      width: 1.3rem !important;
      position: relative !important;
      color: inherit !important;

      svg {
        margin: 0 !important;
        width: 100%;
        height: 100%;
      }
    }
  }
}
