.centerHeader {
  margin-bottom: 0rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;

  .controlsWrapper {
    margin-bottom: 5px;

    .todayBtn {
      outline: none;
      color: #3a83dc;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
    }
  }

  .arrowButton {
    outline: none;
    width: 30px;
    height: 30px;

    .buttonIcon {
      color: #3a83dc;
    }
  }

  .dateBtnLabel {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 11px !important;
  }

  .rightBtnsWrapper {
    margin-right: 1rem;
    :global(.positive-button) {
      top: 50%;
      transform: translateY(-50%);
    }

    .rightSideBtn {
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .searchGroupWrapper {
      position: relative;
      padding-right: 12px;
      .searchField {
        background-color: #fff;
        border-radius: 5px;
        width: 100%;
        min-height: auto;
        input {
          margin-left: 1.5rem;
          padding: 8px 10px !important;
        }
      }
      svg {
        position: absolute;
        top: 50%;
        transform: translate(0.5rem, -50%);
        width: 1.2rem;
        height: 1.2rem;
        z-index: 99;
      }
    }

    .legendBtn {
      position: absolute;
      top: calc(50%);
      transform: translateY(-50%);
      width: 35px;
      height: 35px;
      right: 15rem;
      padding: 0;

      svg {
        width: 20px;
        height: 20px;
        margin: 0;
      }
    }

    .importBtn {
      position: absolute;
      top: calc(50% - 1px);
      transform: translateY(-50%);
      width: 35px;
      height: 35px;
      right: 12.8rem;

      svg {
        margin: 0;
        fill: #3a83dc;
      }
    }

    .addAppointmentBtn {
      font-size: 11px;
      top: calc(50% - 1.5px);
      height: 30px;
      width: 180px;
    }
  }

  :global(.positive-button) {
    flex: unset;
    position: absolute;
    right: 1rem;
    top: 0;
    width: 170px;

    &.calendarBtn {
      height: 30px;
      position: unset;
      font-size: 11px;
    }
  }

  :global(.loading-button) {
    width: 2.5rem;
  }

  .tabs {
    display: flex;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    :global(.easy-tab) {
      font-size: 11px;

      :global(.tab-indicator) {
        margin-top: 0;
      }
    }
  }
}

.appointmentsDatePickerRoot {
  z-index: 999;
  margin-top: 0.5rem;

  .calendarPaper {
    border: #3a83dc 1px solid;
    border-radius: 4px;
    overflow: hidden;

    :global(.rdrCalendarWrapper) {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-size: 11px;
    }
  }
}
