.xRayImageRoot {
  .trashButton {
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 0;
    top: 10px;
    right: 5px;
    background-color: #ec3276;

    &:hover {
      background-color: #ec3276;
    }

    svg {
      fill: #FFF;
    }
  }

  .imageContainer {
    border: #ededed 1px solid;
    overflow: hidden;
    cursor: pointer;
    margin: .2rem;
    width: 100%;
    height: 100%;

    .imageProgress {
      width: 30px !important;
      height: 30px !important;
    }
  }
}
