.checkout-modal-root {
  &__paper {
    outline: none;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    border-radius: 10px !important;
    overflow: hidden;
    transform: translate(-50%, -50%);

    .data-container {
      width: 60%;
      height: 100%;
      position: relative;
      padding: 1rem;

      .close-button {
        outline: none;
        position: absolute;
        top: 0;
        right: 0;
      }

      .loading-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;

        .loading-progress {
          color: #3A83DC;
          width: 45px !important;
          height: 45px !important;
        }
      }

      &__title {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #34344E;
      }

      &__paying {
        color: #3A83DC;
        width: 30px !important;
        height: 30px !important;
      }

      &__pay-btn {
        outline: none;
        background-color: #3A83DC;
        color: white;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;

        &:hover {
          background-color: #5c93d6;
        }
      }

      .details-table-container {
        margin-top: 1.5rem;
        height: 375px;

        .details-table {
          &__row {
            &__cell {
              border-bottom: #ededed 1px solid;
              padding-top: .5rem;
              padding-bottom: .5rem;

              &:first-child {
                padding-left: 0;
              }

              &:last-child {
                padding-right: 0;
              }

              .autocomplete-root {
                &__input-root {
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 13px;
                  color: #34344E;

                  &::before {
                    border-bottom: none;
                  }

                  &::after {
                    border-bottom: none;
                  }
                }
              }

              .text {
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                color: #34344E;

                &.clickable-value {
                  color: #3A83DC;
                  cursor: pointer;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }

              &.title {
                width: 50px;

                .text {
                  font-weight: bold;
                  width: 50px;
                }
              }

              &.value {

              }

              &.field {
                padding-top: 0;
                padding-bottom: 0;

                .searching-progress {
                  color: #3A83DC;
                }
              }

              &.for-payment-title-cell {
                border-bottom: none;

                .label {
                  margin-top: 0;
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 20px;
                  color: #34344E;
                }
              }

              &.for-payment-field-cell {
                border-bottom: none;

                input {
                  background-color: white;
                  margin-top: 0;
                  margin-bottom: 1rem;
                  border: none;
                  outline: none;
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 50px;
                  width: 100%;
                  color: #3A83DC;
                  text-align: center;

                  &::placeholder {
                    font-family: Inter, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 50px;
                    color: #3A83DC;
                  }
                }
              }

              &.total-amount-cell {
                border-bottom: none;

                .label {
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 16px;
                  color: #34344E;
                }
              }

              &.total-discount-cell {
                border-bottom: none;

                .label {
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 16px;
                  color: #34344E;
                }

                input {
                  background-color: white;
                  border: none;
                  outline: none;
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 24px;
                  width: 100px;
                  color: #3A83DC;
                  text-align: center;

                  &::placeholder {
                    font-family: Inter, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    color: #3A83DC;
                  }
                }
              }
            }
          }
        }
      }
    }

    .services-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 40%;
      background-color: #F4FAFE;
      border-right: #ededed 1px solid;

      &__title {
        padding: 1rem;
        height: 50px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #34344E;
        width: 100%;
        border-bottom: #ededed 1px solid;
      }

      .services-table-container {
        padding-left: 1rem;
        padding-right: 1rem;
        max-height: 450px;

        .services-table {
          border-spacing: 0 .8rem;
          border-collapse: separate;

          &__body {

            &__row {
              overflow: hidden;
              box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05);
              border-radius: 5px;

              &__cell {
                background-color: white;
                border-bottom: none;
                padding: .5rem;

                &:first-child {
                  border-top-left-radius: 5px;
                  border-bottom-left-radius: 5px;
                }

                &:last-child {
                  border-top-right-radius: 5px;
                  border-bottom-right-radius: 5px;
                }

                &.name {
                  overflow: hidden;

                  .service-name {
                    max-width: 131px;
                    font-family: Inter, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    color: #34344E;
                  }
                }

                &.count {
                  padding-right: 0;
                  padding-left: 0;
                  width: 80px;

                  .counter-label {
                    font-family: Inter, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    color: #34344E;
                  }

                  .action-button {
                    outline: none;
                    svg {
                      width: .8rem;
                      height: .8rem;
                    }
                  }
                }

                &.price {
                  width: 80px;
                  padding-right: .1rem;
                  padding-left: 0;

                  .price-input {
                    width: 80px;

                    .MuiOutlinedInput-root {
                      &.Mui-focused {
                        .MuiOutlinedInput-notchedOutline {
                          border-color: #3A83DC !important;
                          border-width: 1px;
                        }
                      }
                      input {
                        font-family: Inter, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        color: #34344E;
                        padding: .4rem;
                      }
                    }
                  }
                }

                &.currency {
                  width: 45px;
                  padding-left: .1rem;

                  .currency-input {

                    .MuiOutlinedInput-root {
                      .MuiSelect-iconOutlined {
                        right: .1rem;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1rem;
                        height: 1rem;
                      }
                      .MuiSelect-outlined {
                        font-family: Inter, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        color: #34344E;
                        padding: .3rem 1.1rem .3rem .3rem;
                      }
                      &.Mui-focused {
                        .MuiOutlinedInput-notchedOutline {
                          border-color: #3A83DC !important;
                          border-width: 1px;
                        }
                      }
                      input {
                        font-family: Inter, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        color: #34344E;
                        padding: .4rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.sm {
      width: 300px;
      min-height: 300px;
    }

    &.lg {
      width: 1000px;
      max-width: 90%;
      height: 500px;
    }
  }
}

.checkout-modal-currency-item {
  font-family: Inter, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  color: #34344E !important;
}

.autocomplete-root-option-label {
  font-family: Inter, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 13px !important;
  color: #34344E !important;
}
