.patient-personal-data {
  display: flex;
  flex-direction: column;
  height: 100%;

  .simpleField {
    width: 100%;
    margin-top: 5px;
  }

  .patient-form-wrapper {
    padding: 1rem 1rem;
    overflow-y: auto;
    max-height: 100%;
  }

  .tagsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;

    .tag {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      .deleteIcon {
        color: #ec3276;
      }

      .label {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #3A83DC;
      }

      &.outlined {
        border-color: #3A83DC;
      }
    }
  }

  .saveButton {
    width: 23.5%;
    background-color: #3A83DC;
    color: white !important;

    &:hover {
      background-color: #3A83DC;
    }

    svg {
      margin-bottom: 3px;
      margin-left: 5px;
      width: 20px;
      height: 20px;
    }
  }
}
