.register-payment-modal {

  .modal-content {
    box-shadow: 0 1px 10px 10px #34344E1A;
  }

  .register-payment-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .services-wrapper {
      width: 100%;

      table {
        width: 100%;
        margin-bottom: 1rem;

        tbody {
          tr {

            td:first-child {
              max-width: 70%;
              width: 70%;
            }
            td {
              padding: .5rem;
              border-bottom: #ededed 1px solid;

              .service-name-label {
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                margin-right: .3rem;
                color: #34354C;
              }

              .service-price-label {
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                margin-right: .3rem;
                color: #3A83DC;
              }
            }
          }
        }
      }
    }

    .content-row {
      width: 100%;
      margin-bottom: .5rem;
      display: flex;
      align-items: center;

      .form-control {
        width: 6rem;
        margin-right: .5rem;
      }

      .title-text {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-right: .3rem;
        color: #34354C;
      }

      .content-text {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #34354C;
      }
    }
  }
}
