body {
  margin: 0;
  font-family: Inter, serif;
  font-style: normal;
  min-width: 920px;

  .modal-backdrop {
    background-color: rgba(52, 53, 76, 0.25);

    &.show {
      opacity: 1;
    }
  }

  .modal-content {
    border: unset;
  }

  .delete-button {
    flex: 1;
    background-color: #F44081;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 4px;

    svg {
      margin-left: .5rem;
      fill: #fff;
    }

    &:focus {
      background-color: #F44081;
      color: #fff;
    }

    &:active:focus {
      background-color: #F44081 !important;
      color: #fff !important;
    }

    &:hover {
      background-color: #ec3276;
      color: #fff;
    }

    &:disabled {
      background-color: #ef568e;
    }

    &:hover:not(.btn-primary.disabled) {
      background-color: #F44081;
      color: #FFF;
    }
  }

  .cancel-button {
    flex: 1;
    background-color: #e5e5f5;
    color: #a1a2c6;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 4px;

    svg {
      margin-left: .5rem;
      fill: #A1A2C6;
    }

    &:focus {
      background-color: #e5e5f5;
      color: #a1a2c6;
    }

    &:active:focus {
      background-color: #e5e5f5 !important;
      color: #a1a2c6 !important;
    }

    &:hover {
      background-color: #d9d9e5;
      color: #a1a2c6;
    }

    &:disabled {
      background-color: #dbdbe3;
      color: #a1a2c6;
    }

    &:hover:not(.btn-primary.disabled) {
      background-color: #d9d9e5;
      color: #a1a2c6;
    }
  }

  .positive-button {
    flex: 1;
    background-color: #3A83DC;
    color: #FFF;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 4px;

    svg {
      margin-left: .5rem;
      fill: #FFF;
    }

    &:focus {
      background-color: #3A83DC;
    }

    &:disabled {
      background-color: #A1A2C6;
    }

    &:active:focus {
      background-color: #3A83DC !important;
      color: #FFF !important;
    }

    &:hover:not(.btn-primary.disabled) {
      background-color: #367acb;
      color: #FFF;
    }
  }
}
