.header {
  width: 100%;
  padding: .5rem;
  height: 8rem;
  background-color: #FFFFFF;

  .closeContainer {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;

    .closeBtn {
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

    }
  }

  .title {
    margin-left: 1.3rem;
    margin-top: -.8rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
  }

  .breadcrumbContainer {
    margin: .5rem 1.2rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    svg {
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }

  .breadcrumb {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #A1A2C6;

    &.current {
      color: #34354C;
    }
  }
}
