.serviceInformation {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
  border-radius: 4px;
  padding: 1rem;
  user-select: none;

  .simpleField {
    width: 100%;
    margin-bottom: 5px;
  }

  .currencyField {
    width: 90px;
  }

  .adornment {
    padding-right: 8px;
    padding-left: 8px;
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
  }

  .header {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .step {
      color: #7DD7C8 !important;
      margin-right: .5rem;
    }

    .title, .step {
      display: flex;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      color: #34354C;
    }

    .button {
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      svg {
        fill: #3A83DC;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    padding-left: .2rem;
    padding-right: .2rem;

    .colorsWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .formLabel {
        user-select: none !important;
        font-family: Inter, sans-serif !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 10px !important;
        color: #6F7091 !important;
      }
    }

    .popper {
      z-index: 1000;
    }

    &.expanded {
      padding-top: .5rem;
      height: auto;
      transition: height .2s ease-out, padding-top .2s ease-out;
    }

    &.collapsed {
      padding-top: 0;
      min-height: 0;
      transition: height .2s ease-out, padding-top .2s ease-out;
    }

    .paletteWrapper {
      margin-top: .5rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        .paletteLabel {
          text-decoration: underline;
        }
      }

      .paletteLabel {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-size: 14px;
        margin-left: 5px;
        color: #3A83DC;
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }

    .colors {
      display: flex !important;
      align-items: center;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;

      .selectedButton {
        border: currentColor 3px solid;
      }

      .toggleButton {
        padding: 0;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }

      .colorContainer {
        width: 23px;
        height: 23px;
      }
    }
  }
}
