.statisticsFilterRoot {
  margin-left: 8px;
  margin-right: 8px;
  height: 5rem;
  padding: 1rem;
  background: #FFFFFF;
  box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
  border-radius: 4px;
  display: flex;
  align-items: center;

  .filterOptionsWrapper {
    display: flex;
    align-items: center;
    flex: 1;
  }

  :global(.form-group) {
    width: 25%;
    margin-bottom: 0;
    margin-top: -.5rem;
    flex: 1;
    margin-right: 10px;
  }

  :global(.custom-select) {
    height: 2.1rem;
    font-size: .8rem;
    font-family: Inter, sans-serif;
    font-style: normal;
  }

  :global(.form-label) {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9.5px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.54);
  }

  :global(.form-control) {
    width: 100%;
    height: 34px;
    background-color: #FAFAFD;
  }

  :global(.form-control[readonly]) {
    background-color: white;
    cursor: pointer;
  }

  .submitButton {
    margin-top: .9rem;
    outline: none;
    background: #F4FAFE;
    border-radius: 4px;
    border: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3A83DC;
    text-transform: uppercase;
    height: 2rem;

    svg {
      width: 1.3rem;
      height: 1.3rem;
      margin-left: .5rem;
      margin-bottom: .2rem;
    }

    &:hover, &:active, &:focus {
      background-color: #F4FAFE;
      color: #3A83DC;
    }
  }
}
