.create-clinic-modal-root {
  user-select: none;

  :global(.modal-lg) {
    max-width: 600px;
  }

  :global(.input-group-append) {

    :global(.input-group-text) {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal !important;
      font-size: 12px;
    }
  }

  :global(.modal-content) > :global(.modal-body) {
    :global(.form-control) {
      width: unset;
    }
  }

  .upload-avatar-container {
    margin-bottom: 1rem;
  }

  .form-check {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .7rem;
    margin-bottom: 0;

    .form-check-input {
      margin-top: 0;
    }
  }

  :global(.form-group) {
    :global(.custom-select) {
      width: 100%;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: .7rem;
    }
  }

  :global(.form-label) {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .7rem;
    margin-bottom: 0;
  }

  :global(.form-control) {
    background-color: #FAFAFD;
  }

  .form-root {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    background: #FFFFFF;
    box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
    border-radius: 4px;
  }
}
