.import-final-step {
  .form-title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #34354C;
  }

  :global(.positive-button) {
    margin-top: 2rem;
  }

  .import-message {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 13px;
    color: #34354C;
  }
}
