.doctor-services {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  height: 0;
  overflow: hidden;
  transition: height .2s ease-out, padding-top .2s ease-out;

  &.expanded {
    margin-bottom: 1rem;
  }

  &.collapsed {
    height: 0;
    margin-bottom: 0;
  }
}
