.doctorItem {
  outline: none;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-left: .3rem;
  padding-right: .3rem;
  cursor: pointer;

  &.disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;

    .doctor-name {
      color: #6F7091;
      pointer-events: none;
      font-size: 12px;
    }
  }

  .menu-option {
    display: flex;
    align-items: center;

    svg {
      fill: #3A83DC;
      margin-right: .5rem;
      height: 20px;
      width: 20px;
    }

    &:hover {
      .option-label {
        color: #3A83DC;
      }
    }

    .option-label {
      user-select: none;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: .8rem !important;
      color: #34344E;
    }
  }

  .doctor-name {
    user-select: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    color: #34344E;

    &:hover {
      color: #3A83DC;
    }
  }
}
