.invite-user-modal {
  :global(.form-group) {
    margin-bottom: 0;
    margin-top: 0 !important;
  }

  :global(.form-label) {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .7rem;
    margin-bottom: 0;
  }

  :global(.form-control) {
    width: 100%;
    background-color: #FAFAFD;
  }

  :global(.custom-select) {
    height: 2.1rem;
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  .error-message {
    color: #ec3276;
    font-size: .7rem;
    margin-top: 1rem;
  }
}
