.main-page {
  display: flex;
  background-color: #E5E5E5;
  width: 100%;
  height: 100vh;
  min-width: 1265px;

  .data-container {
    height: 100%;
    width: calc(100% - 11rem);
    display: flex;
    flex-direction: column;

    .data {
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      margin-top: -5rem;
    }
  }
}
