.patient-treatment-plans {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  position: relative;

  .treatment-plan-modal-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    padding: .5rem 1.5rem;

    :global(.form-group) {
      textarea {
        min-height: 4rem;
        max-height: 4rem;
      }

      :global(.form-label) {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: .7rem;
        margin-bottom: 0;
      }

      :global(.form-control) {
        outline: none;
        width: 100%;
        background-color: #FAFAFD;
      }
    }

    .tabs-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .options-row {
      display: flex;
      align-items: flex-start;
    }

    .group-title {
      margin-top: 1rem;
      margin-bottom: .5rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #34354C;
    }

    .group-subtitle {
      width: 70px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #34354C;
    }

    .options-container {
      flex: 1;
      margin: .5rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      :global(.custom-select) {
        flex: 1;
        font-size: 12px;
      }

      .separator {
        width: 1px;
        background-color: #ededed;
        height: 2rem;
        margin-right: .5rem;
      }
    }

    .option-text {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #34354C;
    }

    .option-button {
      user-select: none;
      cursor: pointer;
      margin: .2rem;
      padding: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: 1px solid #CDCEEA;
      border-radius: 4px;

      &:hover {
        opacity: .8;
      }

      &.selected {
        border: 1px solid #3A83DC;
        background: #3A83DC1A;
      }
    }
  }

  &__actions {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px -20px 40px -5px rgba(239, 242, 251, 0.8);

    :global(.positive-button) {
      margin: 0;
    }
  }
}
