.register-form {
  position: relative;

  :global(.form-group) {
    margin-bottom: 0;
    .password-visibility-append {
      height: 33.19px;

      .visibility-toggle-btn {
        height: 100%;
        display: flex;
        align-items: center;

        svg {
          height: 100%;
          margin-left: 0;
        }
      }
    }

    :global(.react-tel-input) {
      :global(.form-control) {
        width: 100% !important;
      }
    }
  }

  :global(.form-control) {

  }

  :global(.form-title) {
    margin-bottom: 1rem;
  }

  :global(.footer) {
    margin-top: 3rem;
  }

  :global(.upload-avatar-container) {
    user-select: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #A1A2C6;

    svg, img {
      width: 4rem;
      min-height: 4rem;
    }

    img {
      object-fit: cover;
    }

    :global(.btn-outline-primary) {
      text-transform: uppercase;
    }

    :global(.form-group) {
      margin-bottom: 0;

      .custom-file-button + label {
        margin-bottom: 0;
        color: #3A83DC;
        text-transform: uppercase;
      }
    }
  }
}
