.servicesWrapper {
  box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
  margin-top: 1rem;
  user-select: none;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 24rem);
  position: relative;

  .servicesResultsMenu {
    max-height: 300px !important;
  }

  .inputWrapper {
    border-bottom: #34344E1A 1px solid;
    padding: 1rem 1rem .5rem;

    :global(.form-group) {
      height: 33px;
      margin-bottom: 0;

      :global(.dropdown-menu) {
        padding: .1rem 0;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
      }
    }
  }

  .selectedServicesWrapper {
    flex: 1;
    overflow-y: scroll;
    padding: 1rem;
  }

  .selectedServicesFooter {
    width: 100%;
    height: 50px;
    border-top: #34344E1A 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;

    :global(.positive-button) {
      flex: unset;
      margin-bottom: 0;
    }
  }

  .totalTitle, :global(.no-data-label) {
    margin-bottom: 1rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #A1A2C6;
  }

  .availableServices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-right: 1rem;

    .availableServicesPaper {
      box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
      padding: 1rem;
      display: flex;
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      flex-direction: column;
      align-items: flex-start;

      :global(.form-group) {
        margin-bottom: .5rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #34354C;

        :global(.form-check) {
          align-items: center;
          display: flex;
        }

        :global(.form-check-input) {
          margin-top: 0;
          color: transparent;
        }
      }
    }
  }

  .services-total {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;

    .offered-services-paper {
      overflow-y: scroll;
      padding-top: 1rem;
      padding-bottom: 1rem;

      .offered-services-table {

      }
    }

    :global(.no-data-label) {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
      font-weight: normal;
      font-size: .8rem;
    }

    .total-price {
      width: 100%;
      text-align: end;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #34354C;
    }

    :global(.positive-button) {
      margin-top: 2rem;
      height: 2rem;
      flex: unset;
    }
  }
}
