.top-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-bottom: 1px dashed #B8DBF8;
}

.top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-bottom: 1px dashed #B8DBF8;
  border-left: 1px dashed #B8DBF8;
}

.bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.bottom-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-left: 1px dashed #B8DBF8;
}
