.add-appointment-root {
  position: relative;

  .form-label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .7rem;
    margin-bottom: 0;
  }

  .form-control {
    background-color: #FAFAFD;
  }

  .input-group {
    textarea {
      height: 5rem !important;
    }
  }

  .rbt-aux {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5rem;
  }

  .custom-select {
    height: 2.1rem;
    font-size: .8rem;
  }

  .date-and-time-group {
    width: 100%;

    .form-control[readonly] {
      background-color: white;
    }

    .date-form-group {
      width: 60%;
    }

    .date-append {
      width: 40%;
    }
  }
}

.appointment-date-picker-root {
  z-index: 2000;
  .calendar-paper {
    .rdrMonthAndYearWrapper {
      padding-top: 0;
      height: 30px;
    }

    .rdrMonths {
      .rdrMonth {
        padding: 0;
      }
    }
  }
}
