.users-root {
  max-height: 100%;
  display: flex;
  flex-direction: column;

  &__no-data {
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    height: 4rem;
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: .8rem;
    background: #FFFFFF;
    box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
    border-radius: .3rem;

    .no-data-label {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #A1A2C6;
    }

    .add-data-btn {
      outline: none;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.01em;
      margin-left: .2rem;
      color: #3A83DC;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__group-title {
    user-select: none;
    -webkit-user-select: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    color: #A1A2C6;
  }

  &__group {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  &__content {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;

    .loading-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .users-loading {
        color: #3A83DC;
      }
    }

    .table-container {
      padding: 1rem 2rem;
    }
  }

  &__skeleton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .MuiSkeleton-root {
      border: 1px solid #F4FAFE;
      background-color: #FAFAFD;
      box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
      border-radius: .3rem;
      width: 100%;
      height: 3rem;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: .8rem;
    }
  }

  .data-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 .8rem;
    table-layout: auto;

    tbody > tr {
      height: 100%;
      box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);

      .status-cell {
        width: 3px;
      }

      td {
        padding: .5rem;
        font-family: Inter, sans-serif;
        border-bottom: unset;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #34354C;
      }
    }
  }
}

.users-header {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px -1px 90px -5px rgba(239, 242, 251, 0.8);
  border-radius: 4px;
  padding: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: .5rem;

  .buttons-wrapper {
    display: flex;
    align-items: center;
  }

  .positive-button {
    margin-left: .5rem;
    flex: unset;
    padding: .4rem 1rem;
  }

  &__tabs {
    display: flex;
    flex-direction: row;
  }
}

.user-item {
  background-color: white;

  .status-indicator {
    height: 30px;
    width: 3px;
    margin-right: 10px;
    border-radius: 6px;

    &.pending {
      border-right: #FDC534 3px solid;
    }

    &.active {
      border-right: #7DD7C8 3px solid;
    }

    &.fired {
      border-right: #ec3276 3px solid;
    }
  }

  &__name-and-avatar {
    flex-direction: row;
    align-items: center;

    svg {
      width: 30px !important;
      height: 30px !important;
    }
  }

  &__contact {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      fill: #CDCEEA;
      margin-right: 8px;
    }

    .contact-label {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #34354C;
    }
  }

  &__avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  &__name {
    margin-left: .5rem !important;
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    color: #34354C !important;
  }

  &__action-buttons {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

  &__edit-button {
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: #F4FAFE !important;
    border: 1px solid #74A8E5 !important;
    color: #74A8E5 !important;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px !important;
    line-height: 16px !important;

    svg {
      fill: #74A8E5;
      margin-left: .5rem;
    }
  }

  &__delete-button {
    min-width: 96px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
    background: rgba(244, 64, 129, 0.03) !important;
    border: 1px solid #F44081 !important;
    color: #F44081 !important;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px !important;
    line-height: 16px !important;

    svg {
      fill: #F44081;
      margin-left: 8px;
    }
  }

  &__restore-button {
    min-width: 96px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
    background: rgba(244, 64, 129, 0.03) !important;
    border: 1px solid #00E987 !important;
    color: #00E987 !important;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px !important;
    line-height: 16px !important;

    svg {
      fill: #00E987;
      margin-left: 8px;
    }
  }

  &__resend-button {
    margin-right: .5rem;
    background: #FDC5341a !important;
    border: 1px solid #FDC534 !important;
    color: #FDC534 !important;
    width: 96px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px !important;
    line-height: 16px !important;

    svg {
      fill: #FDC534;
      margin-left: 8px;
    }
  }
}
