.filterRoot {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  .descriptionContainer {
    padding: 16px;
    width: 200px;

    .description {
      user-select: none !important;
      color: #3A83DC !important;
      font-family: Inter, sans-serif !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 13px !important;
    }
  }

  .formContainer {
    width: 500px;

    .formTitle {
      user-select: none !important;
      font-family: Inter, sans-serif !important;
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 18px !important;
      margin-bottom: 16px;
    }

    .messageGroup {
      margin-bottom: .5rem !important;
    }

    textarea {
      min-height: 100px;
      max-height: 100px;
    }

    :global(.form-group) {
      margin-bottom: 0;
      margin-top: -5px;
    }

    .tags-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .tag-label {
        outline: none;
        user-select: none;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #3A83DC;
        margin-right: .5rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    :global(.form-label) {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: .7rem;
      margin-bottom: 0;
    }

    .languagesSelect {
      margin-bottom: .3rem;
      font-family: Inter, sans-serif;
      font-size: 14px;
    }

    :global(.form-text) {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: #34344E;
      margin-top: 0;

      &.message-length {
        color: #3A83DC;
        text-align: right;

        &.exceeded {
          color: #ec3276;
        }
      }

      &.message-title {
        color: #CDCEEA;
        margin-bottom: .5rem;
      }
    }

    .languageDesc {
      color: #CDCEEA;
    }

    .messageTypeDesc {
      color: #CDCEEA;
      margin-bottom: .5rem;
    }

    :global(.input-group) {
      margin-top: .5rem;
      display: block;

      :global(.input-group-fields) {
        display: flex;
      }

      :global(.input-group-append) {
        :global(.custom-select) {
          width: unset;
          margin-top: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      :global(.form-control) {
        flex: 1;
        width: unset !important;
        margin-bottom: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .selectControlRoot {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;

    :global(.MuiSelect-root) {
      border: #ced4da 1px solid;
      border-radius: 4px;
      padding-left: 10px;
      padding-right: 10px;
    }

    :global(.MuiInput-underline:after) {
      border-bottom-color: #3A83DC;
    }

    :global(.MuiFormLabel-root.Mui-focused) {
      color: #3A83DC;
    }

    :global(.MuiFormLabel-root) {
      font-family: Inter, sans-serif !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 13px !important;
    }

    :global(.MuiSelect-select.MuiSelect-select) {
      font-family: Inter, sans-serif !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 13px !important;
    }
  }
}

.analyticsMenuItemCheckbox {
  padding: 0 !important;
  margin-right: 5px !important;
}

.analyticsMenuItemCheckboxChecked {
  color: #3A83DC !important;
}

.analyticsMenuItemRoot {
  font-family: Inter, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 13px !important;
}

.analyticsMenuItemText {
  font-family: Inter, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 13px !important;
}
