.patientPurchasesList {
  width: 100%;
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 1em;

  :global(.flexContainer) {
    line-height: 1;

    a {
      width: 18px;
      height: 18px;
    }
  }

  .totalsAmount {
    color: #3A83DC !important;
    margin-left: .5rem;
  }

  .totalsText {
    font-family: Inter, sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #34344E !important;
    background-color: transparent;
  }

  .undoButton {
    padding: 0;
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }
}

.expandButton {
  & svg {
    width: 17px;
    height: 17px;
  }
}

.subHeading {
  font-family: Inter, sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  color: #34344E !important;
  background-color: transparent;
}

.debtBtn {
  border: 1px solid #3A83DC !important;
  color: #3A83DC !important;

  &:disabled {
    color: grey;
    border: 1px solid #3A83DC !important;
  }
}

.selectControlRoot {
  width: 100%;
  margin-right: 1em;
}
