.phoneRecordsRoot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .recordsWrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-left: 16px;
    padding-right: 16px;

    .recordItem {
      display: flex;
      padding: .5rem 1rem;
      align-items: center;
      justify-content: space-between;
      border-bottom: #ededed 1px solid;

      .iconWrapper {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: #3A83DC 1px solid;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        position: relative;

        svg {
          width: 20px;
          height: 20px;
          fill: #3A83DC;
        }

        .arrowIcon {
          position: absolute;
          width: 14px;
          height: 14px;
          top: 6px;
          right: 6px;
        }
      }

      .dateLabel {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        color: #3A83DC;
        margin-right: .3rem;
      }

      .operatorLabel {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #34354C;
        margin-right: .3rem;
      }

      .downloadButton {
        svg {
          fill: #3A83DC;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .footer {
    border-top: #ededed 1px solid;
    width: calc(100% - 2rem);
    height: 55px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;

    .navButtons {
      height: 35px;
      color: #3A83DC;

      .label {
        color: currentColor;
      }
    }

    .disabled {
      border-color: #ced4da !important;

      .label {
        color: #ced4da;
      }
    }

    .outlined {
      border-color: #3A83DC;
    }
  }
}
