.appointmentDetailsRoot {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 1rem;
  top: 52.3%;
  height: 91%;
  transform: translateY(-50%);
  border-radius: .3rem;
  width: 400px;
  background-color: white;
  box-shadow: 0 1px 10px 10px #34344E1A;
  z-index: 1000;

  &.urgent {
    border: #ec3276 1px solid;
  }

  .tagsContainer {
    display: flex;
    flex-wrap: wrap;

    .tagItem {
      margin-right: 5px;
      margin-bottom: 5px;

      :last-child {
        margin-right: 0;
      }

      .label {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #3A83DC;
      }

      &.outlined {
        border-color: #3A83DC;
      }
    }
  }

  .patientLink {
    color: #3A83DC;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .addScheduleBtn {
    color: #3A83DC;
    width: 100%;
  }

  .statusesPopperRoot {
    user-select: none;
    width: 100%;
    z-index: 1000 !important;

    .paper {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #FFFFFF;
      border: #3A83DC 1px solid;
      border-radius: 4px;
      max-height: 25rem;
      overflow-y: auto;
      box-shadow: 0 5px 60px -10px rgba(239, 242, 251, 0.8);
    }

    .item {
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: .8rem;
      padding: .5rem;

      .nameAndIcon {
        display: flex;
        flex: 1;
        align-items: center;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
      }

      .checkmarkWrapper {
        display: flex;
        align-items: center;
      }

      svg {
        width: 1.3rem;
        height: 1.3rem;
        margin-right: .6rem;
        fill: #3A83DC !important;

        path {
          fill: #3A83DC;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .headerWrapper {
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -.2rem;
    border-bottom: #ededed 1px solid;

    .editButton {
      padding: 5px;
      margin-right: 5px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .closeButton {
      outline: none;
      cursor: pointer;
      line-height: 1;
      height: 24px;
    }

    .scheduleTitle {
      margin-left: 1rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #34344E;
    }
  }

  .contentWrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1;
    position: relative;
    overflow-y: auto;

    .spinner {
      color: #3A83DC;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .groupTitle {
      margin-top: 1rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 32px;
      color: #34344E;
    }

    .infoWrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .scheduleStatus {
      user-select: none;
      outline: none;
      border-radius: .3rem;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 32px;
      padding: .2rem 1rem;
      cursor: pointer;

      svg {
        margin-left: .5rem;
      }
    }

    .scheduleInfoWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;

      table > tbody > tr > td {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #34344E;
      }
    }

    .debtsWrapper {
      width: 100%;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;

      .payBtnSpinner {
        width: 1.5rem;
        height: 1.5rem;
        color: #3A83DC;
      }

      .noDebtsLabel {
        margin-top: 1rem;
        margin-left: 1rem;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 32px;
        color: #34344E;
      }

      .groupTitle {
        margin-top: 2rem;
        margin-bottom: 0;
      }

      table {
        table-layout: fixed;
        width: 100%;

        thead > tr > td {
          padding-right: 8px;
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          color: #34344E;

           &:last-child {
             padding-right: 0;
           }
        }

        tbody {
          width: 100%;

          tr {
            width: 100%;

            td {
              padding-right: 8px;
              font-family: Inter, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              color: #34344E;
              margin-right: 0;

              &:last-child {
                padding-right: 0;
              }
            }

            .actionsCell {
              .btnOutlinePrimary {
                min-width: unset;
                padding: 0;
                line-height: 1;

                .label {
                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  color: #3A83DC;
                }
              }
            }

            .servicesCell {

              .servicesLabel {
                max-width: 300px;
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                color: #34344E;
              }
            }

            .totalsCell {
              .clinicNameLabel {
                max-width: 100px;
                padding-right: 1rem;
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                color: #34344E;
              }
            }

            .remainedCell {
              font-family: Inter, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              color: #34344E;
            }
          }
        }
      }
    }

    .patientName {
      outline: none;
      cursor: pointer;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #3A83DC;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footerWrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .printLabel {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #3A83DC;
    }

    :global(.delete-button) {
      margin-left: .5rem;
    }

    :global(.positive-button) {
      margin-left: .5rem;
    }
  }
}
