.patient-details-modal {

  :global(.modal-dialog) {
    height: calc(100% - 3.5rem);
    max-width: unset;
    width: calc(100% - 15rem);

    :global(.modal-content) {
      height: 100%;
      overflow: hidden;

      :global(.modal-body) {
        padding: 0;
        height: 100%;

        :global(.totals-text) {
          font-family: Inter, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          color: #34344E;

          &.totals-amount {
            color: #3A83DC;
            margin-left: .5rem;
          }
        }

        .totals-amount {

        }

        :global(.MuiCircularProgress-root) {
          color: #3A83DC;
          position: absolute;
          top: 50%;
          left: 50%;
        }

        :global(.amount-cell) {
          color: #3A83DC !important;
          font-weight: 600 !important;
        }

        .close-button {
          z-index: 2;
          cursor: pointer;
          outline: none;
          position: absolute;
          top: .8rem;
          right: 1.2rem;

          &:hover {
            background-color: #0000001a;
          }
        }

        .patient-menu-container {
          min-height: 100px;
          width: 18rem;
          background-color: #DBEEFB;
          height: 100%;
          max-height: 100%;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          overflow-y: scroll;

          .name-and-avatar {
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .phone-label {
              display: flex;
              align-items: center;
              font-family: Inter, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px !important;
              margin-bottom: 0;

              svg {
                fill: #3A83DC;
                margin-right: .5rem;
              }

              &.phone {
                color: #3A83DC !important;

                a {
                  color: #3A83DC !important;

                  &:hover {
                    color: #3A83DC !important;
                  }
                }
              }
            }

            .avatar-wrapper {
              width: 90px;
              height: 90px;

              svg {
                width: 100%;
                height: 100%;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              }
            }

            .name-label {
              margin-top: 1rem;
              font-family: Inter, sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              color: #34354C;
            }
          }

          .menu-wrapper {
            #delete {
              background-color: #F44081;
              color: white;

              &:hover {
                background-color: #ee568d;
              }
            }

            :global(.list-group-item) {
              outline: none;
              font-family: Inter, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #34354C;

              &.selected {
                background-color: #f1f8fd;
              }
            }
          }
        }

        .patient-details-container {
          flex: 1;
          display: flex;
          flex-direction: column;
          max-height: 100%;
          position: relative;

          :global(.MuiTableCell-head) {
            padding: .3rem 1rem;
            border-bottom: none;
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: .8rem;
            color: #34354C;
          }

          :global(.MuiTableCell-body) {
            padding: .5rem 1rem;
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: .8rem;
            color: #34354C;
          }

          :global(.MuiTableCell-footer) {
            padding: 1rem 1rem;
            border-bottom: none;
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: .8rem;
            color: #34354C;
          }

          :global(.no-data-label) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            color: #34354C;
          }

          :global(.title-label) {
            width: 100%;
            background-color: white;
            border-bottom: #ededed 1px solid;
            padding: 1rem 1.5rem;
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #34354C;
          }

          :global(.form-group) {
            margin-bottom: .3rem;
          }

          :global(.form-label) {
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: .7rem;
            margin-bottom: 0;
          }

          :global(.form-control[readonly]) {
            background-color: #FAFAFD;
          }

          :global(.form-control) {
            outline: none;
            width: 100%;
            background-color: #FAFAFD;
          }

          :global(.circular-progress-bar) {
            top: 45%;
            left: 45%;
            position: absolute;
          }
        }

        :global(.positive-button) {
          flex: unset;
        }
      }
    }
  }
}

.patient-debts-list {
  width: 100%;
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  &__data-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    min-height: 10rem;
    overflow-y: scroll;
    position: relative;

    .MuiTableCell-head {
      padding: .3rem 1rem;
      border-bottom: none;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: .8rem;
      color: #34354C;
    }

    .MuiTableRow-root {
      transition: background-color 0.6s ease;

      &.highlight {
        background-color: #3A83DC1A !important;
      }
    }

    .MuiTableCell-body {
      padding: .3rem 1rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: .8rem;
      color: #34354C;
    }

    .amount-cell {
      color: #3A83DC;
      font-weight: 600;
    }

    .print-cell {
      max-width: 30px;
      width: 30px;
      padding: 0 !important;
    }
  }
}

.patient-payments-list {
  width: 100%;
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  &__data-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    min-height: 10rem;
    overflow-y: scroll;
    position: relative;

    .MuiTableCell-head {
      padding: .3rem 1rem;
      border-bottom: none;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: .8rem;
      color: #34354C;
    }

    .MuiTableCell-body {
      padding: .5rem 1rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: .8rem;
      color: #34354C;

      .view-debt-btn {
        width: 100%;
        text-align: center;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        margin-top: .1rem;
        color: #3A83DC;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .MuiTableCell-footer {
      padding: 1rem 1rem;
      border-bottom: none;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: .8rem;
      color: #34354C;
    }

    .invoice-status {
      padding: .5rem;
      background-color: #DBEEFB;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: .8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: #34354C;
    }
  }
}

.patient-purchases-list {
  width: 100%;
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
